n 번째 원소부터 :
정수 리스트 num_list와 정수 n이 주어질 때, n 번째 원소부터 마지막 원소까지의 모든 원소를 담은 리스트를 return하도록 solution 함수를 완성해주세요.

In [1]:
num_list = [2, 1, 6]
n = 3

def solution(num_list, n):
    answer = num_list[n-1:]
    
    return answer

solution(num_list, n)

[6]

In [2]:
num_list = [5, 2, 1, 7, 5]
n = 2

def solution(num_list, n):
    answer = num_list[n-1:]
    
    return answer

solution(num_list, n)

[2, 1, 7, 5]

첫 번째로 나오는 음수 :
정수 리스트 num_list가 주어질 때, 첫 번째로 나오는 음수의 인덱스를 return하도록 solution 함수를 완성해주세요. 음수가 없다면 -1을 return합니다.

In [7]:
num_list = [12, 4, 15, 46, 38, -2, 15]

def solution(num_list):
    for i, num in enumerate(num_list):
        if num < 0 :
            answer =  i
            break
        else :
            answer = -1
            
    return answer

solution(num_list)

5

In [9]:
num_list = [13, 22, 53, 24, 15, 6]

def solution(num_list):
    for i, num in enumerate(num_list):
        if num < 0 :
            answer =  i
            break
        else :
            answer = -1
            
    return answer

solution(num_list)

-1

애초에 answer의 값을 -1로 초기화를 해 놓고, 해당 값이 있다면 값을 바꾸어 반환하는 것이 좋아 보인다. 그리고 루프를 두번 도는 것이 시간복잡도의 면에서 그렇게 효율적이진 않아 보이는데 다른 방법이 있을지 고민해 봐야 할 것 같다.

In [10]:
num_list = [13, 22, 53, 24, 15, 6]

def solution(num_list):
    
    answer = -1
    for i, num in enumerate(num_list):
        if num < 0 :
            answer =  i
            break
            
    return answer

solution(num_list)

-1

카운트 다운 : 정수 start_num와 end_num가 주어질 때, start_num에서 end_num까지 1씩 감소하는 수들을 차례로 담은 리스트를 return하도록 solution 함수를 완성해주세요.

In [9]:
start_num = 10
end_num = 3

def solution(start_num, end_num):
    answer = list(range(start_num, end_num-1, -1))
    return answer

solution(start_num,end_num)

[10, 9, 8, 7, 6, 5, 4, 3]

배열 만들기 1: 정수 n과 k가 주어졌을 때, 1 이상 n이하의 정수 중에서 k의 배수를 오름차순으로 저장한 배열을 return 하는 solution 함수를 완성해 주세요.

In [15]:
n = 10
k = 3

def solution(n, k):
    answer = []
    for i in range(1,n+1):
        if i % k == 0 :
            answer.append(i)
    return answer

solution(n,k)

[3, 6, 9]

단순하게 생각했을 때는 나눠지는 값들을 리스트에 추가하는 식으로 할 수 있겠지만 시간복잡도가 두번의 루프로 인해 너무 커질 수 있다.
k 간격의 list(range())를 통해 해결 할 수 있다. 루프를 돌지 않으니 시간이 훨씬 주는 것을 확인할 수 있다.

In [16]:
n = 10
k = 3

def solution(n, k):
    answer = list(range(k,n+1,k))
    return answer

solution(n,k)

[3, 6, 9]

접두사인지 확인하기 : 어떤 문자열에 대해서 접두사는 특정 인덱스까지의 문자열을 의미합니다. 예를 들어, "banana"의 모든 접두사는 "b", "ba", "ban", "bana", "banan", "banana"입니다.
문자열 my_string과 is_prefix가 주어질 때, is_prefix가 my_string의 접두사라면 1을, 아니면 0을 return 하는 solution 함수를 작성해 주세요.

In [24]:
my_string = "banana"
is_prefix = "ban"

def solution(my_string, is_prefix):
    answer = 0
    lenght = len(list(is_prefix))
    if list(my_string)[:lenght] == list(is_prefix):
        answer = 1
    return answer

print(solution(my_string,is_prefix))

1

In [1]:
my_string = "banana"
is_prefix = "ban"

def solution(my_string, is_prefix):
    return 1 if list(my_string)[:len(list(is_prefix))] == list(is_prefix) else 0

print(solution(my_string,is_prefix))

1

문자열의 앞의 n글자 : 문자열 my_string과 정수 n이 매개변수로 주어질 때, my_string의 앞의 n글자로 이루어진 문자열을 return 하는 solution 함수를 작성해 주세요.

In [4]:
my_string = "ProgrammerS123"
n = 11

print(''.join(list(my_string)[:n-1]))

Programmer

In [3]:
''.join(['a','b','c'])

'abc'

접미사인지 확인하기 : 어떤 문자열에 대해서 접미사는 특정 인덱스부터 시작하는 문자열을 의미합니다. 예를 들어, "banana"의 모든 접미사는 "banana", "anana", "nana", "ana", "na", "a"입니다.
문자열 my_string과 is_suffix가 주어질 때, is_suffix가 my_string의 접미사라면 1을, 아니면 0을 return 하는 solution 함수를 작성해 주세요.

In [5]:
my_string = "banana"
is_suffix = "ana"

def solution(my_string, is_suffix):
    return 1 if list(my_string[len(my_string)-len(is_suffix):]) == list(is_suffix) else 0

solution(my_string, is_suffix)

1

처음에 my_string을 리스트로 만들 때, 뒤의 문자를 is_suffix의 문자 갯수 만큼 추출하여 같은지 비교해야 하는데 그 갯수 설정을 잘 못하여 오류가 났었음.

문자열의 뒤의 n글자 : 문자열 my_string과 정수 n이 매개변수로 주어질 때, my_string의 뒤의 n글자로 이루어진 문자열을 return 하는 solution 함수를 작성해 주세요.

In [7]:
my_string = "ProgrammerS123"
n = 11

def solution(my_string, n):
    answer = ''.join(list(my_string)[len(my_string)-n:])
    return answer
    
solution(my_string,n)

'grammerS123'

글자 이어 붙여 문자열 만들기 : 문자열 my_string과 정수 배열 index_list가 매개변수로 주어집니다. my_string의 index_list의 원소들에 해당하는 인덱스의 글자들을 순서대로 이어 붙인 문자열을 return 하는 solution 함수를 작성해 주세요.

In [10]:
my_string = "cvsgiorszzzmrpaqpe"
index_list = [16, 6, 5, 3, 12, 14, 11, 11, 17, 12, 7]

def solution(my_string, index_list):
    answer = []
    len(index_list)
    for index, num in enumerate(index_list):
        answer.append(list(my_string)[index_list[index]])
    return ''.join(answer)

print(solution(my_string,index_list))

programmers

리스트 컴프리헨션을 써서 좀더 축약 할 수 있을것 같다. 하지만 루프를 도는 것은 똑같기 때문에 시간적 차이는 별로 없을 듯 하다.

In [12]:
my_string = "cvsgiorszzzmrpaqpe"
index_list = [16, 6, 5, 3, 12, 14, 11, 11, 17, 12, 7]

def solution(my_string, index_list):
    return ''.join([my_string[index] for index in index_list])

print(solution(my_string, index_list))

programmers

시간적으로도 많이 효율적인듯 하다. 좀 더 사용이 능숙해져야 할 것 같다.

카운트 업 : 정수 start_num와 end_num가 주어질 때, start_num부터 end_num까지의 숫자를 차례로 담은 리스트를 return하도록 solution 함수를 완성해주세요.

In [16]:
start_num = 3
end_num = 10

def solution(start_num, end_num):
    return list(range(start_num,end_num+1))

solution(start_num, end_num)

[3, 4, 5, 6, 7, 8, 9, 10]

수 조작하기 1 : 정수 n과 문자열 control이 주어집니다. control은 "w", "a", "s", "d"의 4개의 문자로 이루어져 있으며, control의 앞에서부터 순서대로 문자에 따라 n의 값을 바꿉니다.

"w" : n이 1 커집니다.
"s" : n이 1 작아집니다.
"d" : n이 10 커집니다.
"a" : n이 10 작아집니다.
위 규칙에 따라 n을 바꿨을 때 가장 마지막에 나오는 n의 값을 return 하는 solution 함수를 완성해 주세요.

In [18]:
n = 0
control = "wsdawsdassw"

answer = n + list(control).count("w") - list(control).count("s") + list(control).count("d")*10 - list(control).count("a")*10

answer

-1

매번 해당 문자를 count함에 있어서 시간이 오래 걸리는 듯 하다. 다른 방법을 생각해보자.

마지막 두 원소 : 정수 리스트 num_list가 주어질 때, 마지막 원소가 그전 원소보다 크면 마지막 원소에서 그전 원소를 뺀 값을 마지막 원소가 그전 원소보다 크지 않다면 마지막 원소를 두 배한 값을 추가하여 return하도록 solution 함수를 완성해주세요.

In [25]:
num_list = [2, 1, 6]

def solution(num_list):
    if num_list[-1] > num_list[-2] : num_list.append(num_list[-1]-num_list[-2])
    else : num_list.append(num_list[-1]*2)
    
    return num_list
    
solution(num_list)

[2, 1, 6, 5]

이어 붙인 수 : 정수가 담긴 리스트 num_list가 주어집니다. num_list의 홀수만 순서대로 이어 붙인 수와 짝수만 순서대로 이어 붙인 수의 합을 return하도록 solution 함수를 완성해주세요.

리스트의 길이와 각 값들이 한자리 수 이기 때문에 루프를 통해 해결하는 것도 문제 없을 듯 하다.

In [27]:
num_list = [3, 4, 5, 2, 1]

def solution(num_list):
    odd_list = []
    even_list = []
    for i in num_list:
        if i % 2 : odd_list.append(i)
        else : even_list.append(i)

    answer = int(''.join(list(map(str,odd_list)))) + int(''.join(list(map(str,even_list))))

    return answer

print(solution(num_list))

393

리스트 컴프리 헨션을 통해서

In [28]:
num_list = [3, 4, 5, 2, 1]

def solution(num_list):
    odd = int(''.join([str(i) for i in num_list if i % 2 == 0]))
    even = int(''.join([str(i) for i in num_list if i % 2 != 0]))
    
    return odd + even

solution(num_list)

393

원소들의 곱과 합 : 정수가 담긴 리스트 num_list가 주어질 때, 모든 원소들의 곱이 모든 원소들의 합의 제곱보다 작으면 1을 크면 0을 return하도록 solution 함수를 완성해주세요.

In [35]:
num_list = [3, 4, 5, 2, 1]

def solution(num_list):
    answer = 1
    sum_num = sum(num_list)
    mul_num = 1
    for i in num_list:
        mul_num *= i
    
    if sum_num * sum_num < mul_num : answer = 0
        
    return answer

solution(num_list)

1

'**' 을 통해 제곱을 할 수 있다.
reduce lambda를 통해 모든 요소들을 곱하는 역할을 수항 할 수 있다.

flag에 따라 다른 값 반환하기 : 두 정수 a, b와 boolean 변수 flag가 매개변수로 주어질 때, flag가 true면 a + b를 false면 a - b를 return 하는 solution 함수를 작성해 주세요.

In [40]:
a = -4
b = 7
flag = 'false'

def solution(a,b,flag):
    return a + b if flag == True else a - b

solution(a,b,flag)

-11

입력값의 flag가 boolean 이기 때문에 True, False로 해야한다. 문자열이 아니고.

홀짝에 따라 다른 값 반환하기 : 양의 정수 n이 매개변수로 주어질 때, n이 홀수라면 n 이하의 홀수인 모든 양의 정수의 합을 return 하고 n이 짝수라면 n 이하의 짝수인 모든 양의 정수의 제곱의 합을 return 하는 solution 함수를 작성해 주세요.

In [50]:
n = 7

def solution(n):
    answer = 0
    if n % 2 == 0 :
        answer = sum([i**2 for i in list(range(2,n,2))])
    else :
        answer = int(((n+1)**2)/4)
        
    return answer

solution(n)

16

In [52]:
n = 10

def solution(n):
    answer = 0
    if n % 2 == 0 :
        answer = sum([i**2 for i in list(range(2,n+2,2))])
    else :
        answer = int(((n+1)**2)/4)
        
    return answer

solution(n)

220

공배수 : 정수 number와 n, m이 주어집니다. number가 n의 배수이면서 m의 배수이면 1을 아니라면 0을 return하도록 solution 함수를 완성해주세요.

In [53]:
number = 60
n = 2
m = 3

def solution(number, n, m):
    answer = 0
    if number%m == 0 and number %n == 0: answer = 1
    
    return answer

solution(number, n, m)

1

In [54]:
number = 55
n = 2
m = 3

def solution(number, n, m):
    answer = 0
    if number%m == 0 and number %n == 0: answer = 1
    
    return answer

solution(number, n, m)

0

n의 배수 : 정수 num과 n이 매개 변수로 주어질 때, num이 n의 배수이면 1을 return n의 배수가 아니라면 0을 return하도록 solution 함수를 완성해주세요.

In [55]:
num = 98
n = 2

def solution(num, n):
    return 1 if num % n == 0 else 0

solution(num, n)

1

두 수의 연산값 비교하기 : 연산 ⊕는 두 정수에 대한 연산으로 두 정수를 붙여서 쓴 값을 반환합니다. 예를 들면 다음과 같습니다.

12 ⊕ 3 = 123
3 ⊕ 12 = 312
양의 정수 a와 b가 주어졌을 때, a ⊕ b와 2 * a * b 중 더 큰 값을 return하는 solution 함수를 완성해 주세요.

단, a ⊕ b와 2 * a * b가 같으면 a ⊕ b를 return 합니다.

In [56]:
a = 2
b = 91

def solution(a, b):
    answer = int(str(a)+str(b))
    return answer if answer > 2 * a * b else 2 * a * b

solution(a,b)

364

더 크게 합치기 : 연산 ⊕는 두 정수에 대한 연산으로 두 정수를 붙여서 쓴 값을 반환합니다. 예를 들면 다음과 같습니다.

12 ⊕ 3 = 123
3 ⊕ 12 = 312
양의 정수 a와 b가 주어졌을 때, a ⊕ b와 b ⊕ a 중 더 큰 값을 return 하는 solution 함수를 완성해 주세요.

단, a ⊕ b와 b ⊕ a가 같다면 a ⊕ b를 return 합니다.

In [57]:
a = 9
b = 91

def solution(a, b):
    return max(int(str(a)+str(b)), int(str(b)+str(a)))

solution(a,b)

991

문자열 곱하기 : 문자열 my_string과 정수 k가 주어질 때, my_string을 k번 반복한 문자열을 return 하는 solution 함수를 작성해 주세요.

In [58]:
my_string = "string"
k = 3

def solution(my_string, k):
    return my_string * k

solution(my_string,k)

'stringstringstring'

홀짝 구분하기 : 자연수 n이 입력으로 주어졌을 때 만약 n이 짝수이면 "n is even"을, 홀수이면 "n is odd"를 출력하는 코드를 작성해 보세요.

In [59]:
a = int(input())

if a % 2 == 0 :
    print(f'{a} is even')
else :
    print(f'{a} is odd')

3
3 is odd

문자열 붙여서 출력하기 : 두 개의 문자열 str1, str2가 공백으로 구분되어 입력으로 주어집니다.
입출력 예와 같이 str1과 str2을 이어서 출력하는 코드를 작성해 보세요.

In [61]:
str1, str2 = input().strip().split(' ')

print(f'{str1}{str2}')

apple pen
applepen

주사위 게임 1 : 1부터 6까지 숫자가 적힌 주사위가 두 개 있습니다. 두 주사위를 굴렸을 때 나온 숫자를 각각 a, b라고 했을 때 얻는 점수는 다음과 같습니다.

a와 b가 모두 홀수라면 a2 + b2 점을 얻습니다.
a와 b 중 하나만 홀수라면 2 × (a + b) 점을 얻습니다.
a와 b 모두 홀수가 아니라면 |a - b| 점을 얻습니다.
두 정수 a와 b가 매개변수로 주어질 때, 얻는 점수를 return 하는 solution 함수를 작성해 주세요.

주사위의 조합 수가 총 36개 이기 때문에 미리 리스트를 만들어서 어디에 포함되는지 확인해 주는게 나쁘지 않아 보인다.

In [62]:
a = 3
b = 5

def solution(a, b):
    if (a,b) in [(1,1),(1,3),(1,5),(3,1),(3,3),(3,5),(5,1),(5,3),(5,5)]:
        answer = (a ** 2) + (b ** 2)
    elif (a,b) in [(2,2),(2,4),(2,6),(4,2),(4,4),(4,6),(6,2),(6,4),(6,6)]:
        answer = abs(a-b)
    else : answer = 2 * (a + b)
        
    return answer

solution(a,b)

34

꼬리 문자열 : 문자열들이 담긴 리스트가 주어졌을 때, 모든 문자열들을 순서대로 합친 문자열을 꼬리 문자열이라고 합니다. 꼬리 문자열을 만들 때 특정 문자열을 포함한 문자열은 제외시키려고 합니다. 예를 들어 문자열 리스트 ["abc", "def", "ghi"]가 있고 문자열 "ef"를 포함한 문자열은 제외하고 꼬리 문자열을 만들면 "abcghi"가 됩니다.

문자열 리스트 str_list와 제외하려는 문자열 ex가 주어질 때, str_list에서 ex를 포함한 문자열을 제외하고 만든 꼬리 문자열을 return하도록 solution 함수를 완성해주세요.

for문 내에 if문이 들어가기 때문에 시간 복잡도가 매우 크지만, str_list의 길이와 원소 길이가 길지 않기 때문에 사용할만 한 것 같다.

In [76]:
str_list = ["abc", "def", "ghi"]
ex = "ef"

def solution(str_list, ex):
    answer = ''.join([str for str in str_list if ex not in str])
    
    return answer

solution(str_list, ex)

'abcghi'

꼬리문자열이라 뒤에만 같으면 되는 줄 알았는데 그냥 포함하면 안되는 거였다. 하하. 다시 수정하자

정수 찾기 : 정수 리스트 num_list와 찾으려는 정수 n이 주어질 때, num_list안에 n이 있으면 1을 없으면 0을 return하도록 solution 함수를 완성해주세요.

In [77]:
num_list = [1, 2, 3, 4, 5]
n = 3

def solution(num_list, n):
    return 1 if n in num_list else 0

solution(num_list, n)

1

부분 문자열인지 확인하기 : 부분 문자열이란 문자열에서 연속된 일부분에 해당하는 문자열을 의미합니다. 예를 들어, 문자열 "ana", "ban", "anana", "banana", "n"는 모두 문자열 "banana"의 부분 문자열이지만, "aaa", "bnana", "wxyz"는 모두 "banana"의 부분 문자열이 아닙니다.

문자열 my_string과 target이 매개변수로 주어질 때, target이 문자열 my_string의 부분 문자열이라면 1을, 아니라면 0을 return 하는 solution 함수를 작성해 주세요.

In [78]:
my_string = "banana"
target = "ana"

def solution(my_string, target):
    return 1 if target in my_string else 0

solution(my_string, target)

1

부분 문자열 : 어떤 문자열 A가 다른 문자열 B안에 속하면 A를 B의 부분 문자열이라고 합니다. 예를 들어 문자열 "abc"는 문자열 "aabcc"의 부분 문자열입니다.

문자열 str1과 str2가 주어질 때, str1이 str2의 부분 문자열이라면 1을 부분 문자열이 아니라면 0을 return하도록 solution 함수를 완성해주세요.

In [79]:
str1 = "abc"
str2 = "aabcc"

def solution(str1, str2):
    return 1 if str1 in str2 else 0

solution(str1, str2)

1

0 떼기 : 정수로 이루어진 문자열 n_str이 주어질 때, n_str의 가장 왼쪽에 처음으로 등장하는 0들을 뗀 문자열을 return하도록 solution 함수를 완성해주세요.

최로로 0이 아닌 값을 받아서 그 이후의 문자열을 반환하면 된다.

In [84]:
n_str = "0010"

def solution(n_str):
    count = 0
    for num in list(n_str):
        if num == '0':
            count += 1
        else:
            break

    return ''.join(list(n_str)[count:])

print(solution(n_str))

10

In [85]:
n_str = "854020"

def solution(n_str):
    count = 0
    for num in list(n_str):
        if num == '0':
            count += 1
        else:
            break

    return ''.join(list(n_str)[count:])

print(solution(n_str))

854020

ad 제거하기 : 문자열 배열 strArr가 주어집니다. 배열 내의 문자열 중 "ad"라는 부분 문자열을 포함하고 있는 모든 문자열을 제거하고 남은 문자열을 순서를 유지하여 배열로 return 하는 solution 함수를 완성해 주세요.

In [88]:
strArr = ["and","notad","abcd"]

def solution(strArr):
    return [x for x in strArr if "ad" not in x]

solution(strArr)

['and', 'abcd']

문자열 정수의 합 : 한 자리 정수로 이루어진 문자열 num_str이 주어질 때, 각 자리수의 합을 return하도록 solution 함수를 완성해주세요.

모든 성분을 map을 통해 str가 아닌 int로 변한 한 뒤 sum을 해주면 될 듯 하다.

In [102]:
num_str = "123456789"

def solution(num_str):
    return sum(list(map(int, list(num_str))))

solution(num_str)

45

문자열로 변환 : 정수 n이 주어질 때, n을 문자열로 변환하여 return하도록 solution 함수를 완성해주세요.

In [103]:
n = 123

def solution(n):
    return str(n)

solution(n)

'123'

조건에 맞게 수열 변환하기 3 : 정수 배열 arr와 자연수 k가 주어집니다.

만약 k가 홀수라면 arr의 모든 원소에 k를 곱하고, k가 짝수라면 arr의 모든 원소에 k를 더합니다.

이러한 변환을 마친 후의 arr를 return 하는 solution 함수를 완성해 주세요.

In [105]:
arr = [1, 2, 3, 100, 99, 98]
k = 3

def solution(arr, k):
    if k % 2 != 0 :
        return [i*k for i in arr]
    else :
        return [i+k for i in arr]
    
solution(arr, k)

[3, 6, 9, 300, 297, 294]

In [106]:
arr = [1, 2, 3, 100, 99, 98]
k = 3

def solution(arr, k):

    return [i*k for i in arr] if k % 2 != 0 else [i+k for i in arr]

solution(arr, k)

[3, 6, 9, 300, 297, 294]

뒤에서 5등 위로 : 정수로 이루어진 리스트 num_list가 주어집니다. num_list에서 가장 작은 5개의 수를 제외한 수들을 오름차순으로 담은 리스트를 return하도록 solution 함수를 완성해주세요.

In [7]:
num_list = [12, 4, 15, 46, 38, 1, 14, 56, 32, 10]

def solution(num_list):
    return sorted(num_list)[5:]

solution(num_list)

[15, 32, 38, 46, 56]

문자열을 정수로 변환하기 : 숫자로만 이루어진 문자열 n_str이 주어질 때, n_str을 정수로 변환하여 return하도록 solution 함수를 완성해주세요.

In [8]:
n_str = "10"

def solution(n_str):
    return int(n_str)

solution(n_str)

10

배열의 길이에 따라 다른 연산하기 : 정수 배열 arr과 정수 n이 매개변수로 주어집니다. arr의 길이가 홀수라면 arr의 모든 짝수 인덱스 위치에 n을 더한 배열을, arr의 길이가 짝수라면 arr의 모든 홀수 인덱스 위치에 n을 더한 배열을 return 하는 solution 함수를 작성해 주세요.

In [12]:
arr = [49, 12, 100, 276, 33]
n = 27

def solution(arr, n):
    length = len(arr)
    
    if length % 2 == 0 :
        for i, num in enumerate(arr) :
            if i % 2 != 0 :
                arr[i] = num + n
                
        return arr
    
    else :
        for i, num in enumerate(arr) :
            if i % 2 == 0 :
                arr[i] = num + n
                
        return arr
    
solution(arr, n)

[76, 12, 127, 276, 60]

복잡도가 너무 커서 좋은 코드는 아닌 것 같다.

문자열 바꿔서 찾기 : 문자 "A"와 "B"로 이루어진 문자열 myString과 pat가 주어집니다. myString의 "A"를 "B"로, "B"를 "A"로 바꾼 문자열의 연속하는 부분 문자열 중 pat이 있으면 1을 아니면 0을 return 하는 solution 함수를 완성하세요.

In [24]:
myString = "ABBAA"
pat = "AABB"

def solution(myString, pat):
            
    return 1 if ''.join(["A" if word == "B" else "B" for word in list(pat)]) in myString else 0

solution(myString, pat)

1

myString은 문자열이 길기 때문에 pat을 뒤집어 해당 문자열이 myString내에 존재하는지를 확인해 주었다.

배열 비교하기 : 이 문제에서 두 정수 배열의 대소관계를 다음과 같이 정의합니다.

두 배열의 길이가 다르다면, 배열의 길이가 긴 쪽이 더 큽니다.
배열의 길이가 같다면 각 배열에 있는 모든 원소의 합을 비교하여 다르다면 더 큰 쪽이 크고, 같다면 같습니다.
두 정수 배열 arr1과 arr2가 주어질 때, 위에서 정의한 배열의 대소관계에 대하여 arr2가 크다면 -1, arr1이 크다면 1, 두 배열이 같다면 0을 return 하는 solution 함수를 작성해 주세요.

In [28]:
arr1 = [49, 13]
arr2 = [70, 11, 2]

def solution(arr1, arr2):
    if (len(arr1) > len(arr2)) or ((len(arr1) == len(arr2)) and (sum(arr1) > sum(arr2))) :
        return 1
    elif (len(arr1) == len(arr2)) and (sum(arr1) == sum(arr2)):
        return 0
    else : return -1
    
solution(arr1, arr2)

-1

그다지 효율적이지 않아 보이는 코드다. 수정을 어느정도 해야 할 듯 싶다.
총 두가지 사항에 대해 비교해야 한다. 첫번째는 배열의 길이이고, 두번째는 배열내 요소의 총합이다.
1을 반환하는 경우는 arr1이 arr2보다 배열이 길거나, 총합이 큰 경우
0을 반환하는 경우는 길이와 총합이 같은 경우
-1을 반환하는 경우는 arr2가 더 길거나 총합이 큰 경우이다.

배열의 길이가 다르다면, 총합을 연산을 통해 비교할 필요가 없으므로 연산수를 줄일 수 있다면 줄이는 것이 좋을 듯 싶어 보인다.

In [29]:
arr1 = [49, 13]
arr2 = [70, 11, 2]

def solution(arr1, arr2):
    if (len(arr1) > len(arr2)) : return 1
    elif (len(arr1) < len(arr2)) : return -1
    else : 
        if sum(arr1) > sum(arr2) : return 1
        elif sum(arr1) < sum(arr2) : return -1
        else : return 0

solution(arr1, arr2)

-1

아래의 코드가 시간이 좀 더 걸리는 것 같다. 애초에 총합을 계산하는 것은 시간이 얼마 걸리지 않기 때문에 루프를 몇번 도는지가 더 중요한 요소 인 것 같다.

배열의 원소만큼 추가하기 : 아무 원소도 들어있지 않은 빈 배열 X가 있습니다. 양의 정수 배열 arr가 매개변수로 주어질 때, arr의 앞에서부터 차례대로 원소를 보면서 원소가 a라면 X의 맨 뒤에 a를 a번 추가하는 일을 반복한 뒤의 배열 X를 return 하는 solution 함수를 작성해 주세요.

In [34]:
arr = [5, 1, 4]

def solution(arr):
    X = []
    for num in arr:
        i = 0
        while i < num:
            X.append(num)
            i += 1
        
    return X

solution(arr)

[5, 5, 5, 5, 5, 1, 4, 4, 4, 4]

for 문 내에 while문으로 인해 반복문이 2중으로 반복되어 시간 복잡도가 매우 크게 나타났다. 다른 방법도 고안해 봐야 할 것 같다.

리스트에 값을 추가할 때 += [] 에 값을 추가하면 append와 비슷한 형식으로 적용 되는 것 같다

In [35]:
arr = [5, 1, 4]

def solution(arr):
    answer = []
    for num in arr:
        answer += [num] * num
        
    return answer

solution(arr)

[5, 5, 5, 5, 5, 1, 4, 4, 4, 4]

1번만 루프를 도는 것을 보니 시간이 훨씬 축약되는 것을 확인할 수 있다.

rny_string : 'm'과 "rn"이 모양이 비슷하게 생긴 점을 활용해 문자열에 장난을 하려고 합니다. 문자열 rny_string이 주어질 때, rny_string의 모든 'm'을 "rn"으로 바꾼 문자열을 return 하는 solution 함수를 작성해 주세요.

In [3]:
rny_string = "masterpiece"

def solution(rny_string):
    return rny_string.replace("m","rn") if "m" in rny_string else rny_string

solution(rny_string)

'rnasterpiece'

뒤에서 5등까지 : 정수로 이루어진 리스트 num_list가 주어집니다. num_list에서 가장 작은 5개의 수를 오름차순으로 담은 리스트를 return하도록 solution 함수를 완성해주세요.

In [1]:
num_list = [12, 4, 15, 46, 38, 1, 14]

def solution(num_list):
    return sorted(num_list)[:5]

solution(num_list)

[1, 4, 12, 14, 15]

공백으로 구분하기 2 : 단어가 공백 한 개 이상으로 구분되어 있는 문자열 my_string이 매개변수로 주어질 때, my_string에 나온 단어를 앞에서부터 순서대로 담은 문자열 배열을 return 하는 solution 함수를 작성해 주세요.

In [2]:
my_string = " i    love  you"

def solution(my_string):
    return my_string.split()

solution(my_string)

['i', 'love', 'you']

정수 부분 : 실수 flo가 매개 변수로 주어질 때, flo의 정수 부분을 return하도록 solution 함수를 완성해주세요.

In [3]:
flo = 1.42

import math

def solution(flo):
    return math.floor(flo)

solution(flo)

1

math.floor을 통해 버림을, math.ceil을 통해 올림을 할 수 있다.

특정한 문자를 대문자로 바꾸기 : 영소문자로 이루어진 문자열 my_string과 영소문자 1글자로 이루어진 문자열 alp가 매개변수로 주어질 때, my_string에서 alp에 해당하는 모든 글자를 대문자로 바꾼 문자열을 return 하는 solution 함수를 작성해 주세요.

In [6]:
my_string = "programmers"
alp = "p"

def solution(my_string, alp):
    return my_string.replace(alp,alp.upper()) if alp in my_string else my_string

solution(my_string, alp)

'Programmers'

대문자로 변환 시 '해당 문자열'.upper() 의 형태로 바꿀 수 있다.

배열의 원소 삭제하기 : 정수 배열 arr과 delete_list가 있습니다. arr의 원소 중 delete_list의 원소를 모두 삭제하고 남은 원소들은 기존의 arr에 있던 순서를 유지한 배열을 return 하는 solution 함수를 작성해 주세요.

In [14]:
arr = [293, 1000, 395, 678, 94]
delete_list = [94, 777, 104, 1000, 1, 12]

def solution(arr, delete_list):
    return [x for x in arr if x not in delete_list]

solution(arr, delete_list)

[293, 395, 678]

처음에는 list set을 통해 중복되는 값을 제외해 주려고 했지만 순서 유지가 안되므로 그냥 리스트 컴프리헨션을 통해 해결

소문자로 바꾸기 : 알파벳으로 이루어진 문자열 myString이 주어집니다. 모든 알파벳을 소문자로 변환하여 return 하는 solution 함수를 완성해 주세요.

In [16]:
myString = "aBcDeFg"

def solution(myString):
    return myString.lower()

solution(myString)

'abcdefg'

할 일 목록 : 오늘 해야 할 일이 담긴 문자열 배열 todo_list와 각각의 일을 지금 마쳤는지를 나타내는 boolean 배열 finished가 매개변수로 주어질 때, todo_list에서 아직 마치지 못한 일들을 순서대로 담은 문자열 배열을 return 하는 solution 함수를 작성해 주세요.

In [19]:
todo_list = ["problemsolving", "practiceguitar", "swim", "studygraph"]
finished = [True, False, True, False]

def solution(todo_list, finished):
    return [x for i,x in enumerate(todo_list) if not finished[i]]

solution(todo_list, finished)

['practiceguitar', 'studygraph']

프로그래머스에서는 true True를 동일하게 불리언으로 받지만 주피터 노트북은 아닌 듯 하다.
마찬가지로 리스트 컴프리헨션을 통해 같은 인덱스의 불리언 값을 받아 해당 불리언이 true인 리스트 값들만 반환 하였다.

배열에서 문자열 대소문자 변환하기 : 문자열 배열 strArr가 주어집니다. 모든 원소가 알파벳으로만 이루어져 있을 때, 배열에서 홀수번째 인덱스의 문자열은 모든 문자를 대문자로, 짝수번째 인덱스의 문자열은 모든 문자를 소문자로 바꿔서 반환하는 solution 함수를 완성해 주세요.

In [23]:
strArr = ["AAA","BBB","CCC","DDD"]

def solution(strArr):
    return [x.upper() if i%2 != 0 else x.lower() for i,x in enumerate(strArr)]

solution(strArr)

['aaa', 'BBB', 'ccc', 'DDD']

l로 만들기 : 알파벳 소문자로 이루어진 문자열 myString이 주어집니다. 알파벳 순서에서 "l"보다 앞서는 모든 문자를 "l"로 바꾼 문자열을 return 하는 solution 함수를 완성해 주세요.

In [24]:
myString = "abcdevwxyz"	

def solution(myString):
    return ''.join([x if x not in ['a','b','c','d','e','f','g','h','i','j','k'] else 'l' for x in list(myString)])

solution(myString)

'lllllvwxyz'

In [25]:
'a' < 'b'

True

In [27]:
myString = "abcdevwxyz"	

def solution(myString):
    return ''.join([x if x > 'l' else 'l' for x in list(myString)])

solution(myString)

'lllllvwxyz'

단순히 in을 썼을때 보다 부등호를 통한 비교를 했을때가 시간이 덜 드는 것을 확인 할 수 있다.

대문자로 바꾸기 : 알파벳으로 이루어진 문자열 myString이 주어집니다. 모든 알파벳을 대문자로 변환하여 return 하는 solution 함수를 완성해 주세요.

In [28]:
myString = "aBcDeFg"

def solution(myString):
    return myString.upper()

solution(myString)

'ABCDEFG'

공백으로 구분하기 1 : 단어가 공백 한 개로 구분되어 있는 문자열 my_string이 매개변수로 주어질 때, my_string에 나온 단어를 앞에서부터 순서대로 담은 문자열 배열을 return 하는 solution 함수를 작성해 주세요.

In [29]:
my_string = "i love you"

def solution(my_string):
    return my_string.split()

solution(my_string)

['i', 'love', 'you']

길이에 따른 연산 : 정수가 담긴 리스트 num_list가 주어질 때, 리스트의 길이가 11 이상이면 리스트에 있는 모든 원소의 합을 10 이하이면 모든 원소의 곱을 return하도록 solution 함수를 완성해주세요.

In [32]:
num_list = [3, 4, 5, 2, 5, 4, 6, 7, 3, 7, 2, 2, 1]
from functools import reduce

def solution(num_list):
    return reduce(lambda x,y: x*y, num_list) if len(num_list) <= 10 else sum(num_list)

solution(num_list)

51

functools 모듈에는 reduce 함수가 있는데 하나씩 원소를 줄이며 연산을 해주는 함수 같은 느낌이다.
만약 lambda 안에 x + y 를 넣으면 모든 원소를 더하는 느낌. 근데 sum()은 이미 내장함수가 존재하기 때문에 이렇게 할 필요가 없다.

부분 문자열 이어 붙여 문자열 만들기 : 길이가 같은 문자열 배열 my_strings와 이차원 정수 배열 parts가 매개변수로 주어집니다. parts[i]는 [s, e] 형태로, my_string[i]의 인덱스 s부터 인덱스 e까지의 부분 문자열을 의미합니다. 각 my_strings의 원소의 parts에 해당하는 부분 문자열을 순서대로 이어 붙인 문자열을 return 하는 solution 함수를 작성해 주세요.

In [44]:
my_strings = ["progressive", "hamburger", "hammer", "ahocorasick"]
parts = [[0, 4], [1, 2], [3, 5], [7, 7]]

def solution(my_strings, parts):
    answer = ''
    for i,string in enumerate(my_strings):
        answer += string[parts[i][0]:parts[i][1]+1]
    return answer

solution(my_strings, parts)

'programmers'

n보다 커질 때까지 더하기 : 정수 배열 numbers와 정수 n이 매개변수로 주어집니다. numbers의 원소를 앞에서부터 하나씩 더하다가 그 합이 n보다 커지는 순간 이때까지 더했던 원소들의 합을 return 하는 solution 함수를 작성해 주세요.

In [50]:
numbers = [34, 5, 71, 29, 100, 34]
n = 123

def solution(numbers, n):
    answer = 0
    for num in numbers:
        answer += num
        if answer > n:
            break
    return answer

solution(numbers, n)

139

In [53]:
numbers = [34, 5, 71, 29, 100, 34]
n = 123

def solution(numbers, n):
    return sum([x for i,x in enumerate(numbers) if sum(numbers[:i]) <= n])

solution(numbers, n)

139

n개 간격의 원소들 : 정수 리스트 num_list와 정수 n이 주어질 때, num_list의 첫 번째 원소부터 마지막 원소까지 n개 간격으로 저장되어있는 원소들을 차례로 담은 리스트를 return하도록 solution 함수를 완성해주세요.

In [54]:
num_list = [4, 2, 6, 1, 7, 6]
n = 2

def solution(num_list, n):
    return [x for i,x in enumerate(num_list) if i % n == 0]

solution(num_list,n)

[4, 6, 7]

원하는 문자열 찾기 : 알파벳으로 이루어진 문자열 myString과 pat이 주어집니다. myString의 연속된 부분 문자열 중 pat이 존재하면 1을 그렇지 않으면 0을 return 하는 solution 함수를 완성해 주세요.

단, 알파벳 대문자와 소문자는 구분하지 않습니다.

In [55]:
myString = "AbCdEfG"
pat = "aBc"

def solution(myString, pat):
    return 1 if pat.upper() in myString.upper() else 0 

solution(myString, pat)

1

순서 바꾸기 : 정수 리스트 num_list와 정수 n이 주어질 때, num_list를 n 번째 원소 이후의 원소들과 n 번째까지의 원소들로 나눠 n 번째 원소 이후의 원소들을 n 번째까지의 원소들 앞에 붙인 리스트를 return하도록 solution 함수를 완성해주세요.

In [63]:
num_list = [2, 1, 6]
n = 1

def solution(num_list, n):
    return num_list[n:]+num_list[:n]

solution(num_list, n)

[1, 6, 2]

5명씩 : 최대 5명씩 탑승가능한 놀이기구를 타기 위해 줄을 서있는 사람들의 이름이 담긴 문자열 리스트 names가 주어질 때, 앞에서 부터 5명씩 묶은 그룹의 가장 앞에 서있는 사람들의 이름을 담은 리스트를 return하도록 solution 함수를 완성해주세요. 마지막 그룹이 5명이 되지 않더라도 가장 앞에 있는 사람의 이름을 포함합니다.

In [64]:
names = ["nami", "ahri", "jayce", "garen", "ivern", "vex", "jinx"]

def solution(names):
    return [name for i, name in enumerate(names) if i % 5 == 0]

solution(names)

['nami', 'vex']

조건에 맞게 수열 변환하기 1 : 정수 배열 arr가 주어집니다. arr의 각 원소에 대해 값이 50보다 크거나 같은 짝수라면 2로 나누고, 50보다 작은 홀수라면 2를 곱합니다. 그 결과인 정수 배열을 return 하는 solution 함수를 완성해 주세요.

In [67]:
arr = [1, 2, 3, 100, 99, 98]

def solution(arr):
    answer = []
    for num in arr:
        if num < 50 and num % 2 != 0:
            answer.append(2*num)
        elif num >= 50 and num % 2 == 0:
            answer.append(num//2)
        else : answer.append(num)
    return answer

solution(arr)

[2, 2, 6, 50, 99, 49]

통과를 하긴 했지만 시간복잡도가 커서 테스트 10의 경우 시간이 상당히 오래 걸렸다. 코드를 수정할 필요가 있어 보인다.

리스트 컴프리헨션을 통해 줄이려 해봤지만 시간 복잡도는 비슷한 것 같아 나쁘지 않은 코드 인 것 같다.

x 사이의 개수 : 문자열 myString이 주어집니다. myString을 문자 "x"를 기준으로 나눴을 때 나눠진 문자열 각각의 길이를 순서대로 저장한 배열을 return 하는 solution 함수를 완성해 주세요.

In [73]:
myString = "oxooxoxxox"

def solution(myString):
    return [len(x) for x in myString.split('x')]

solution(myString)

[1, 2, 1, 0, 1, 0]

문자열 split을 하기 위한 기준이 되는 문자/기호를 ()안에 포함시키면 된다.

n 번째 원소까지 : 정수 리스트 num_list와 정수 n이 주어질 때, num_list의 첫 번째 원소부터 n 번째 원소까지의 모든 원소를 담은 리스트를 return하도록 solution 함수를 완성해주세요.

In [74]:
num_list = [2,1,6]
n = 1

def solution(num_list, n):
    return num_list[:n]

solution(num_list,n)

[2]

A 강조하기 : 문자열 myString이 주어집니다. myString에서 알파벳 "a"가 등장하면 전부 "A"로 변환하고, "A"가 아닌 모든 대문자 알파벳은 소문자 알파벳으로 변환하여 return 하는 solution 함수를 완성하세요.

In [79]:
myString = "abstract algebra"

def solution(myString):
    answer = ''.join([x.upper() if x in ['a','A'] else x.lower() for x in myString])
    return answer
    
solution(myString)

'AbstrAct AlgebrA'

처음에 소문자 a만 대문자 A로 변환하려고 하여 오류가 났었다. A도 그대로 둬야 한다.

콜라츠 수열 만들기 : 모든 자연수 x에 대해서 현재 값이 x이면 x가 짝수일 때는 2로 나누고, x가 홀수일 때는 3 * x + 1로 바꾸는 계산을 계속해서 반복하면 언젠가는 반드시 x가 1이 되는지 묻는 문제를 콜라츠 문제라고 부릅니다.

그리고 위 과정에서 거쳐간 모든 수를 기록한 수열을 콜라츠 수열이라고 부릅니다.

계산 결과 1,000 보다 작거나 같은 수에 대해서는 전부 언젠가 1에 도달한다는 것이 알려져 있습니다.

임의의 1,000 보다 작거나 같은 양의 정수 n이 주어질 때 초기값이 n인 콜라츠 수열을 return 하는 solution 함수를 완성해 주세요.

In [82]:
n = 10

def solution(n):
    answer = []
    num = n
    answer.append(num)
    while True:
        if num == 1:
            break
        elif num % 2 == 0:
            answer.append(num // 2)
            num = num // 2
        else:
            answer.append(3 * num + 1)
            num = 3 * num + 1

    return answer

print(solution(n))

[10, 5, 16, 8, 4, 2, 1]

문자 리스트를 문자열로 변환하기 : 문자들이 담겨있는 배열 arr가 주어집니다. arr의 원소들을 순서대로 이어 붙인 문자열을 return 하는 solution함수를 작성해 주세요.

In [84]:
arr = ["a","b","c"]

def solution(arr):
    return ''.join(arr)

solution(arr)

'abc'

홀수 vs 짝수 : 정수 리스트 num_list가 주어집니다. 가장 첫 번째 원소를 1번 원소라고 할 때, 홀수 번째 원소들의 합과 짝수 번째 원소들의 합 중 큰 값을 return 하도록 solution 함수를 완성해주세요. 두 값이 같을 경우 그 값을 return합니다.

In [86]:
num_list = [4, 2, 6, 1, 7, 6]

def solution(num_list):
    return max(sum([x for i,x in enumerate(num_list) if i % 2 == 0]),sum([x for i,x in enumerate(num_list) if i % 2 != 0]))
               
solution(num_list)

17

특별한 이차원 배열 1 : 정수 n이 매개변수로 주어질 때, 다음과 같은 n × n 크기의 이차원 배열 arr를 return 하는 solution 함수를 작성해 주세요.

arr[i][j] (0 ≤ i, j < n)의 값은 i = j라면 1, 아니라면 0입니다.

In [96]:
n = 3

def solution(n):
        
    return [[1 if i == j else 0 for j in range(n)] for i in range(n)]

solution(n)

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

n*n의 행렬을 우선적으로 만들고, 행과 열이 같은 원소값으로 1을 대입하면 될 듯 하다

In [107]:
n = 3

def solution(n):
        
    answer = [[0] * n] * n
    for i in range(n):
        answer[i][i] = 1
        
    return answer

solution(n)

[[1, 1, 1], [1, 1, 1], [1, 1, 1]]

In [108]:
answer = [[0] * n] * n

answer[0][0] = 1

answer

[[1, 0, 0], [1, 0, 0], [1, 0, 0]]

deep copy가 안되기 때문에 모든 첫번째 값들이 동일하게 1로 변하는 것을 확인할 수 있다.

In [124]:
n = 3

def solution(n):
        
    answer = [[0] * n for i in range(n)] 
    for i in range(n):
        answer[i][i] = 1
        
    return answer

solution(n)

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

접미사 배열 : 어떤 문자열에 대해서 접미사는 특정 인덱스부터 시작하는 문자열을 의미합니다. 예를 들어, "banana"의 모든 접미사는 "banana", "anana", "nana", "ana", "na", "a"입니다.
문자열 my_string이 매개변수로 주어질 때, my_string의 모든 접미사를 사전순으로 정렬한 문자열 배열을 return 하는 solution 함수를 작성해 주세요.

In [128]:
my_string = "banana"

def solution(my_string):
    answer = [my_string[i:] for i in range(len(my_string))]
    return sorted(answer)

solution(my_string)

['a', 'ana', 'anana', 'banana', 'na', 'nana']

어차피 사전순으로 반환할 것이라 answer에 저장할 때 짧은 접미사부터 저장할 필요가 없다.

간단한 식 계산하기 : 문자열 binomial이 매개변수로 주어집니다. binomial은 "a op b" 형태의 이항식이고 a와 b는 음이 아닌 정수, op는 '+', '-', '*' 중 하나입니다. 주어진 식을 계산한 정수를 return 하는 solution 함수를 작성해 주세요.

In [129]:
binomial = "43 + 12"

def solution(binomial):
    answer = binomial.split()
    return answer

solution(binomial)

['43', '+', '12']

In [131]:
binomial = "43 + 12"

def solution(binomial):
    answer = binomial.split()
    if answer[1] == '+':
        return int(answer[0])+int(answer[2])
    elif answer[1] == '-':
        return int(answer[0])-int(answer[2])
    else:
        return int(answer[0])*int(answer[2])
    
solution(binomial)

55

eval이라는 내장 함수는 문자열을 받아 연산을 진행한다. 즉 eval을 사용하여 if문을 사용할 필요도 없다.

In [132]:
binomial = "43 + 12"

def solution(binomial):
    return eval(binomial)
    
solution(binomial)

55

배열 만들기 3 : 정수 배열 arr와 2개의 구간이 담긴 배열 intervals가 주어집니다.

intervals는 항상 [[a1, b1], [a2, b2]]의 꼴로 주어지며 각 구간은 닫힌 구간입니다. 닫힌 구간은 양 끝값과 그 사이의 값을 모두 포함하는 구간을 의미합니다.

이때 배열 arr의 첫 번째 구간에 해당하는 배열과 두 번째 구간에 해당하는 배열을 앞뒤로 붙여 새로운 배열을 만들어 return 하는 solution 함수를 완성해 주세요.

In [135]:
arr = [1,2,3,4,5]
intervals = [[1, 3], [0, 4]]

def solution(arr,intervals):
    answer =  arr[intervals[0][0]:intervals[0][1]+1] + arr[intervals[1][0]:intervals[1][1]+1]
    return answer

solution(arr,intervals)

[2, 3, 4, 1, 2, 3, 4, 5]

9로 나눈 나머지 : 음이 아닌 정수를 9로 나눈 나머지는 그 정수의 각 자리 숫자의 합을 9로 나눈 나머지와 같은 것이 알려져 있습니다.
이 사실을 이용하여 음이 아닌 정수가 문자열 number로 주어질 때, 이 정수를 9로 나눈 나머지를 return 하는 solution 함수를 작성해주세요.

In [138]:
list("123")

['1', '2', '3']

In [142]:
list(map(lambda x: int(x), list("123")))

[1, 2, 3]

In [150]:
number = "123123213124"

def solution(number):
    answer = [int(x) for x in number]
    return sum(answer) % 9

solution(number)

7

이상한 점이 있다. 같은 연산을 했는데 아래 코드와 테스트 케이스에서 다른점이 발견 되었다.

In [151]:
number = "123123213124"

def solution(number):
    answer = sum([int(x) for x in number]) % 9
    return answer

solution(number)

7

list map을 통해서도 코드를 짰는데 다른 결과가 나왔다.

In [152]:
number = "123123213124"

def solution(number):
    answer = sum(list(map(int, number))) % 9
    return answer

solution(number)

7

뭔가 연산 순서에 이상이 생긴듯 하다. 주의해야 할 듯 싶다.

수 조작하기 2 : 정수 배열 numLog가 주어집니다. 처음에 numLog[0]에서 부터 시작해 "w", "a", "s", "d"로 이루어진 문자열을 입력으로 받아 순서대로 다음과 같은 조작을 했다고 합시다.

"w" : 수에 1을 더한다.
"s" : 수에 1을 뺀다.
"d" : 수에 10을 더한다.
"a" : 수에 10을 뺀다.
그리고 매번 조작을 할 때마다 결괏값을 기록한 정수 배열이 numLog입니다. 즉, numLog[i]는 numLog[0]로부터 총 i번의 조작을 가한 결과가 저장되어 있습니다.

주어진 정수 배열 numLog에 대해 조작을 위해 입력받은 문자열을 return 하는 solution 함수를 완성해 주세요.

In [159]:
numLog = [0, 1, 0, 10, 0, 1, 0, 10, 0, -1, -2, -1]

def solution(numLog):
    numCgd = [numLog[i+1]-numLog[i] for i in range(len(numLog)) if i + 1 < len(numLog)]
    answer = []
    for num in numCgd:
        if num == 1:
            answer.append('w')
        elif num == -1:
            answer.append('s')
        elif num == 10:
            answer.append('d')
        else:
            answer.append('a')
    return ''.join(answer)

solution(numLog)

'wsdawsdassw'

정석적인 풀이이긴 하지만 시간 복잡도가 꽤나 큰 듯 하다. 더 효율적인 방법을 고민해보자

주사위 게임 2 : 1부터 6까지 숫자가 적힌 주사위가 세 개 있습니다. 세 주사위를 굴렸을 때 나온 숫자를 각각 a, b, c라고 했을 때 얻는 점수는 다음과 같습니다.

세 숫자가 모두 다르다면 a + b + c 점을 얻습니다.
세 숫자 중 어느 두 숫자는 같고 나머지 다른 숫자는 다르다면 (a + b + c) × (a2 + b2 + c2 )점을 얻습니다.
세 숫자가 모두 같다면 (a + b + c) × (a2 + b2 + c2 ) × (a3 + b3 + c3 )점을 얻습니다.
세 정수 a, b, c가 매개변수로 주어질 때, 얻는 점수를 return 하는 solution 함수를 작성해 주세요.

In [161]:
a = 2
b = 6
c = 1

def solution(a,b,c):
    if a == b == c :
        return (a+b+c) * (pow(a,2)+pow(b,2)+pow(c,2)) * (pow(a,3)+pow(b,3)+pow(c,3))
    elif (a != b) and (b != c) and (a != c):
        return (a+b+c)
    else :
        return (a+b+c) * (pow(a,2)+pow(b,2)+pow(c,2))
    
solution(a,b,c)

9

모두 같은 경우. 두개가 같은 경우. 모두 다른 경우로 나눠서 생각해보자.
총 경우의 수는 6 * 6 * 6
모두 같은 경우의 수는 6
둘이 같고 하나는 다를 경우의 수는 3c2 * 6 * 5 = 6 * 5 * 3
모두 다른 경우의 수는 6 * 5 * 4

if문을 설정 할 때, 둘은 같고 하나만 다른 경우가 제일 설정이 복잡하므로 else문에 포함 시켜야 할 것 같다.

문자열 돌리기 : 문자열 str이 주어집니다.
문자열을 시계방향으로 90도 돌려서 아래 입출력 예와 같이 출력하는 코드를 작성해 보세요.

In [177]:
str = input()

for i in str:
    print(i)

asd
a
s
d

줄띄움을 따로 설정하지 않아도 for 문을 통해 하나씩 반환하면 자동으로 줄띄움이 된다.

덧셈식 출력하기 : 두 정수 a, b가 주어질 때 다음과 같은 형태의 계산식을 출력하는 코드를 작성해 보세요.

In [178]:
a, b = map(int, input().strip().split(' '))
print(a + b)

4 5
9

In [179]:
a, b = map(int, input().strip().split(' '))

print(f'{a} + {b} = {a+b}')

4 5
4 + 5 = 9

가까운 1 찾기 : 정수 배열 arr가 주어집니다. 이때 arr의 원소는 1 또는 0입니다. 정수 idx가 주어졌을 때, idx보다 크면서 배열의 값이 1인 가장 작은 인덱스를 찾아서 반환하는 solution 함수를 완성해 주세요.

단, 만약 그러한 인덱스가 없다면 -1을 반환합니다.

In [185]:
arr = [0, 0, 0, 1]
idx = 1

def solution(arr, idx):
    answer = -1
    for i, x in enumerate(arr):
        if i >= idx and x != 0:
            answer = i
            break
        else : pass
    return answer

solution(arr, idx)

3

인덱스 보다 작은 인덱스의 요소들과는 관계없이 그 이후의 값들만 가지고 비교를 하면 된다. 최초로 1이 나오는 인덱스를 찾아 반환시키고 만약 없다면 -1을 반환하면 된다.

특별한 이차원 배열 2 : n × n 크기의 이차원 배열 arr이 매개변수로 주어질 때, arr이 다음을 만족하면 1을 아니라면 0을 return 하는 solution 함수를 작성해 주세요.

0 ≤ i, j < n인 정수 i, j에 대하여 arr[i][j] = arr[j][i]

In [186]:
arr = [[5, 192, 33], [192, 72, 95], [33, 95, 999]]

def solution(arr):
    answer = 0
    return answer

solution(arr)

0

모든 값들을 다 비교하는 것은 비 효율적인 것 같으니 같은 값이 있는지 확인하고, 있다면 그 인덱스를 비교하는 것이 효율적이여 보인다.

In [193]:
arr = [[19, 498, 258, 587], [63, 93, 7, 754], [258, 7, 1000, 723], [587, 754, 723, 81]]

def solution(arr):
    answer = 0
    for i in range(len(arr)):
        for j in range(i+1,len(arr)):
            if arr[i][j] == arr[j][i]:
                answer = 1
                break
            else: pass
    return answer

print(solution(arr))

1

문제를 완전히 반대로 이해했다... 대각성분들에 대해서 대칭인 모든 값들이 같을때만 1을 반환하고, 하나라도 다른 값이 존재하면 0을 반환하는 거였다.ㅎㅎ... 다시 코드를 짜보자

In [194]:
arr = [[19, 498, 258, 587], [63, 93, 7, 754], [258, 7, 1000, 723], [587, 754, 723, 81]]

def solution(arr):
    answer = 1
    for i in range(len(arr)):
        for j in range(i+1,len(arr)):
            if arr[i][j] != arr[j][i]:
                answer = 0
    return answer

print(solution(arr))

0

비교할때 중복되는 값들이 존재하기 때문에 i는 0-전체, j는 i+1-전체 의 범위를 설정하여 연산 횟수를 절반으로 줄였다.

세로 읽기 : 문자열 my_string과 두 정수 m, c가 주어집니다. my_string을 한 줄에 m 글자씩 가로로 적었을 때 왼쪽부터 세로로 c번째 열에 적힌 글자들을 문자열로 return 하는 solution 함수를 작성해 주세요.

In [197]:
my_string = "ihrhbakrfpndopljhygc"
m = 4
c = 2

def solution(my_string,m,c):
    return ''.join(x for i,x in enumerate(my_string[c-1:]) if i % m == 0)

solution(my_string,m,c)

'happy'

등차수열의 특정한 항만 더하기 : 두 정수 a, d와 길이가 n인 boolean 배열 included가 주어집니다. 첫째항이 a, 공차가 d인 등차수열에서 included[i]가 i + 1항을 의미할 때, 이 등차수열의 1항부터 n항까지 included가 true인 항들만 더한 값을 return 하는 solution 함수를 작성해 주세요.

In [208]:
a = 3
d = 4
included = [True, False, False, True, True]

def solution(a,d,included):
    ar_seq = list(range(a,(a+d*len(included)), d))
    answer = [ar_seq[i] for i,x in enumerate(included) if x]
    return sum(answer)

solution(a,d,included)

37

In [201]:
list(range(1,5,2))

[1, 3]

In [204]:
list(range(a,(a+d*len(included)), d))

[3, 7, 11, 15, 19]

In [207]:
sum([list(range(a,(a+d*len(included)), d))[i] for i,x in enumerate(included) if x])

37

코드의 가독성 역시 중요하기 때문에 눈에 보기 좋게 코드를 짜는 연습도 해야 할 것 같다.

이차원 배열 대각선 순회하기 : 2차원 정수 배열 board와 정수 k가 주어집니다.

i + j <= k를 만족하는 모든 (i, j)에 대한 board[i][j]의 합을 return 하는 solution 함수를 완성해 주세요.

In [221]:
board = [[0, 1, 2],[1, 2, 3],[2, 3, 4],[3, 4, 5]]
k = 5

def solution(board,k):
    answer = 0
    for i in range(len(board)):
        for j in range(len(board[0])):
            if i + j <= k:
                answer += board[i][j]
    return answer

solution(board,k)

30

i와 j의 길이가 다를 수 있다는 점을 간과했다. 배점이 큰 문제였지만 기본기로 풀 수 있었다.

문자열 잘라서 정렬하기 : 문자열 myString이 주어집니다. "x"를 기준으로 해당 문자열을 잘라내 배열을 만든 후 사전순으로 정렬한 배열을 return 하는 solution 함수를 완성해 주세요.

단, 빈 문자열은 반환할 배열에 넣지 않습니다.

In [229]:
myString = "axbxcxdx"

def solution(myString):
    answer = [x for x in sorted(myString.split('x')) if x != '']
    return answer

solution(myString)

['a', 'b', 'c', 'd']

문자열 섞기 : 길이가 같은 두 문자열 str1과 str2가 주어집니다.

두 문자열의 각 문자가 앞에서부터 서로 번갈아가면서 한 번씩 등장하는 문자열을 만들어 return 하는 solution 함수를 완성해 주세요.

In [230]:
str1 = "aaaaa"
str2 = "bbbbb"

def solution(str1, str2):
    answer = ''
    for i in range(len(str1)):
        answer += str1[i]
        answer += str2[i]
    return answer

solution(str1, str2)

'ababababab'

문자열 출력하기 : 문자열 str이 주어질 때, str을 출력하는 코드를 작성해 보세요.

In [232]:
str = input()

print(str)

HelloWorld!
HelloWorld!

a와 b 출력하기 : 정수 a와 b가 주어집니다. 각 수를 입력받아 입출력 예와 같은 형식으로 출력하는 코드를 작성해 보세요.

In [233]:
a, b = map(int, input().strip().split(' '))
print(f'a = {a}\nb = {b}')

4 5
a = 4
b = 5

문자열 반복해서 출력하기 : 문자열 str과 정수 n이 주어집니다.
str이 n번 반복된 문자열을 만들어 출력하는 코드를 작성해 보세요.

In [234]:
str, n = input().strip().split(' ')
n = int(n)

print(str * n)

string 5
stringstringstringstringstring

대소문자 바꿔서 출력하기 : 영어 알파벳으로 이루어진 문자열 str이 주어집니다. 각 알파벳을 대문자는 소문자로 소문자는 대문자로 변환해서 출력하는 코드를 작성해 보세요.

In [235]:
str = input()

print(str.swapcase())

aBcDeFg
AbCdEfG

.upper() .lower()과 마찬가지로 .swapcase()는 대문자와 소문자를 바꿔준다. .capitalize()는 첫 글자만 대문자로 변환한다.

특수문자 출력하기 : 다음과 같이 출력하도록 코드를 작성해 주세요.

In [238]:
print(r'!@#$%^&*(\'"<>?:;')

!@#$%^&*(\'"<>?:;

',",\와 같은 특수문자 출력시에는 앞에 \를 하나 붙이거나 r''내에 특수문자를 쓰면 된다.

문자열 겹쳐쓰기 : 문자열 my_string, overwrite_string과 정수 s가 주어집니다. 문자열 my_string의 인덱스 s부터 overwrite_string의 길이만큼을 문자열 overwrite_string으로 바꾼 문자열을 return 하는 solution 함수를 작성해 주세요.

In [241]:
my_string = "He11oWor1d"
overwrite_string = "lloWorl"
s = 2

def solution(my_string, overwrite_string, s):
    answer = my_string[:s] + overwrite_string + my_string[s+len(overwrite_string):]
    return answer

solution(my_string, overwrite_string, s)

'HelloWorld'

날짜 비교하기 : 정수 배열 date1과 date2가 주어집니다. 두 배열은 각각 날짜를 나타내며 [year, month, day] 꼴로 주어집니다. 각 배열에서 year는 연도를, month는 월을, day는 날짜를 나타냅니다.

만약 date1이 date2보다 앞서는 날짜라면 1을, 아니면 0을 return 하는 solution 함수를 완성해 주세요.

In [243]:
date1 = [2021, 12, 28]
date2 = [2021, 12, 29]

def solution(date1, date2):
    return 1 if date1 < date2 else 0

solution(date1, date2)

1

빈 배열에 추가, 삭제하기 : 아무 원소도 들어있지 않은 빈 배열 X가 있습니다. 길이가 같은 정수 배열 arr과 boolean 배열 flag가 매개변수로 주어질 때, flag를 차례대로 순회하며 flag[i]가 true라면 X의 뒤에 arr[i]를 arr[i] × 2 번 추가하고, flag[i]가 false라면 X에서 마지막 arr[i]개의 원소를 제거한 뒤 X를 return 하는 solution 함수를 작성해 주세요.

In [249]:
arr = [3, 2, 4, 1, 3]
flag = [True, False, True, False, False]

def solution(arr, flag):
    answer = []
    for i, x in enumerate(flag):
        if x == True:
            answer.extend([arr[i]] * (arr[i] * 2))
        else:
            answer = answer[:-arr[i]]
            
    return answer

solution(arr, flag)

[3, 3, 3, 3, 4, 4, 4, 4]

각 요소들에 대해서 순차적으로 진행하도록 코드를 짜야 한다.

list append를 통해서는 한번에 하나의 값만 추가할 수 있고, pop도 마찬가지로 한번에 하나의 값만 제외할 수 있어 추가는 extend 제거는 리스트 슬라이싱을 사용하였다.

글자 지우기 : 문자열 my_string과 정수 배열 indices가 주어질 때, my_string에서 indices의 원소에 해당하는 인덱스의 글자를 지우고 이어 붙인 문자열을 return 하는 solution 함수를 작성해 주세요.

In [255]:
my_string ="apporoograpemmemprs"
indices = [1, 16, 6, 15, 0, 10, 11, 3]

def solution(my_string, indices):
    answer = ''.join([my_string[x] for x in sorted(list(set(list(range(len(my_string)))) - set(indices)))])
    return answer

solution(my_string, indices)

'programmers'

In [253]:
list(set(list(range(len(my_string)))) - set(indices))

[2, 4, 5, 7, 8, 9, 12, 13, 14, 17, 18]

set을 통해 리스트 요소들 중 겹치지 않는 부분을 제외했지만 정렬되었다는 보장이 없기 때문에 sorted를 해주는 것이 중요한 문제였다.

문자열 뒤집기 : 문자열 my_string과 정수 s, e가 매개변수로 주어질 때, my_string에서 인덱스 s부터 인덱스 e까지를 뒤집은 문자열을 return 하는 solution 함수를 작성해 주세요.

In [258]:
my_string = "Progra21Sremm3"
s = 6
e = 12

def solution(my_string, s, e):
    answer = my_string[0:s] + ''.join(reversed(my_string[s:e+1])) + my_string[e+1:]
    return answer

solution(my_string, s, e)

'ProgrammerS123'

reversed의 경우는 ''.join()을 해줘야 한다.

배열 만들기 5 : 문자열 배열 intStrs와 정수 k, s, l가 주어집니다. intStrs의 원소는 숫자로 이루어져 있습니다.

배열 intStrs의 각 원소마다 s번 인덱스에서 시작하는 길이 l짜리 부분 문자열을 잘라내 정수로 변환합니다. 이때 변환한 정수값이 k보다 큰 값들을 담은 배열을 return 하는 solution 함수를 완성해 주세요.

In [259]:
intStrs = ["0123456789","9876543210","9999999999999"]
k = 50000
s = 5
l = 5

def solution(intStrs, k, s, l):
    answer = [int(x[s:s+l]) for x in intStrs if int(x[s:s+l]) > k]
    return answer

solution(intStrs, k, s, l)

[56789, 99999]

특정 문자열로 끝나는 가장 긴 부분 문자열 찾기 : 문자열 myString과 pat가 주어집니다. myString의 부분 문자열중 pat로 끝나는 가장 긴 부분 문자열을 찾아서 return 하는 solution 함수를 완성해 주세요.

In [263]:
myString = "AbCdEFG"
pat = "dE"

def solution(myString, pat):
    answer = ''
    for i, x in enumerate(list(''.join(reversed(myString)))):
        if ''.join(reversed(pat)) == ''.join(list(''.join(reversed(myString)))[i:i+len(pat)]):
            answer = ''.join(reversed(list(''.join(reversed(myString)))[i:]))
            break
    return answer

solution(myString, pat)

'AbCdE'

가장 뒤에있는 pat과 일치하는 문자열을 찾아서 그 문자열까지 반환해야 한다.

In [262]:
list(''.join(reversed(myString)))

['G', 'F', 'E', 'd', 'C', 'b', 'A']

마지막으로 같은 값을 찾는 것이 너무 어려울 것 같아서 reversed를 통해 뒤집어 첫번째로 같은 값을 찾아 다시 뒤집는 방법을 택했다.

find()를 통해 왼쪽부터 몇번째 인덱스에 존재하는지 확인할 수 있고, rfind를 통해서는 오른쪽으로부터 몇번째 인덱스에 존재하는지 확인할 수 있다.

In [266]:
myString = "AbCdEFG"
pat = "dE"

def solution(myString, pat):
    idx = myString.rfind(pat)
    return myString[:idx+len(pat)]

solution(myString, pat)

'AbCdE'

수열과 구간 쿼리 1 : 정수 배열 arr와 2차원 정수 배열 queries이 주어집니다. queries의 원소는 각각 하나의 query를 나타내며, [s, e] 꼴입니다.

각 query마다 순서대로 s ≤ i ≤ e인 모든 i에 대해 arr[i]에 1을 더합니다.

위 규칙에 따라 queries를 처리한 이후의 arr를 return 하는 solution 함수를 완성해 주세요.

In [271]:
arr = [0, 1, 2, 3, 4]
queries = [[0, 1],[1, 2],[2, 3]]

def solution(arr, queries):
    for x in queries:
        for num in list(range(x[0],x[1]+1)):
            arr[num] += 1
            
    return arr
solution(arr, queries)

[1, 3, 4, 4, 4]

배열의 길이를 2의 거듭제곱으로 만들기 : 정수 배열 arr이 매개변수로 주어집니다. arr의 길이가 2의 정수 거듭제곱이 되도록 arr 뒤에 정수 0을 추가하려고 합니다. arr에 최소한의 개수로 0을 추가한 배열을 return 하는 solution 함수를 작성해 주세요.

In [276]:
arr = [58, 172, 746, 89]

def solution(arr):
    answer = []
    i = 0
    while i < 11:
        if pow(2,i) <  len(arr) <= pow(2,i+1):
            arr.extend([0] * (pow(2,i+1) - len(arr)))
            break
        else : i += 1
    return arr

solution(arr)

[58, 172, 746, 89]

범위 내의 2의 거듭제곱은 1부터 2의 10승까지 존재한다. i = 0부터 10까지 반복되는 루프를 짜서 설계하면 될 것 같다.

1로 만들기 : 정수가 있을 때, 짝수라면 반으로 나누고, 홀수라면 1을 뺀 뒤 반으로 나누면, 마지막엔 1이 됩니다. 예를 들어 10이 있다면 다음과 같은 과정으로 1이 됩니다.

10 / 2 = 5
(5 - 1) / 2 = 2
2 / 2 = 1
위와 같이 3번의 나누기 연산으로 1이 되었습니다.

정수들이 담긴 리스트 num_list가 주어질 때, num_list의 모든 원소를 1로 만들기 위해서 필요한 나누기 연산의 횟수를 return하도록 solution 함수를 완성해주세요.

In [278]:
num_list = [12, 4, 15, 1, 14]

def solution(num_list):
    answer = 0
    return answer

solution(num_list)

0

In [283]:
def count(num):
    count = 0
    while num != 1:
        if num % 2 == 0:
            num = num /2
            count += 1
        else :
            num = (num-1)/2
            count += 1
        
    return count

In [284]:
count(5)

2

In [285]:
num_list = [12, 4, 15, 1, 14]

def solution(num_list):
    answer = [count(x) for x in num_list]
    return sum(answer)

solution(num_list)

11

In [286]:
count(12)

3

간단한 논리 연산 : boolean 변수 x1, x2, x3, x4가 매개변수로 주어질 때, 다음의 식의 true/false를 return 하는 solution 함수를 작성해 주세요.

(x1 ∨ x2) ∧ (x3 ∨ x4)

In [1]:
x1 = True
x2 = True
x3 = True
x4 = True

def solution(x1, x2, x3, x4):
    answer = True
    return (x1 or x2) and (x3 or x4)

solution(x1, x2, x3, x4)

True

문자열이 몇 번 등장하는지 세기 : 문자열 myString과 pat이 주어집니다. myString에서 pat이 등장하는 횟수를 return 하는 solution 함수를 완성해 주세요.

In [12]:
myString = "banana"
pat = "ana"

def solution(myString, pat):
    count = 0
    for i, x in enumerate(myString[:-len(pat)+1]):
        if myString[i:].find(pat) != -1:
            count += 1
    return count

solution(myString, pat)

4

이렇게 하면 다음 pat이 나올때까지 계속 카운트가 늘어서 다시 코드를 짜야 할 것 같다.

In [13]:
myString = "banana"
pat = "ana"


def solution(myString, pat):
    count = 0
    for i, x in enumerate(myString[:-len(pat)+1]):
        if myString[i:i+len(pat)] == pat:
            count += 1
    return count

solution(myString, pat)

2

수열과 구간 쿼리 3 : 정수 배열 arr와 2차원 정수 배열 queries이 주어집니다. queries의 원소는 각각 하나의 query를 나타내며, [i, j] 꼴입니다.

각 query마다 순서대로 arr[i]의 값과 arr[j]의 값을 서로 바꿉니다.

위 규칙에 따라 queries를 처리한 이후의 arr를 return 하는 solution 함수를 완성해 주세요.

In [15]:
arr = [0, 1, 2, 3, 4]
queries = [[0, 3],[1, 2],[1, 4]]

def solution(arr, queries):
    for query in queries:
        arr[query[0]], arr[query[1]] = arr[query[1]], arr[query[0]]
    return arr

solution(arr, queries)

[3, 4, 1, 0, 2]

문자열 묶기 : 문자열 배열 strArr이 주어집니다. strArr의 원소들을 길이가 같은 문자열들끼리 그룹으로 묶었을 때 가장 개수가 많은 그룹의 크기를 return 하는 solution 함수를 완성해 주세요.

In [21]:
strArr = ["a","bc","d","efg","hi"]

def solution(strArr):
    answer = [len(x) for x in strArr]
    count = [answer.count(i) for i in range(1,31)]
    return max(count)

solution(strArr)

2

각 요소들의 길이가 30까지 이므로 1부터 30까지를 전체 카운트 하는 리스트를 생성해서 max값을 반환하도록 하였다. 너무 비효율적인 코드라 다시 고려해봐야 할 것 같다.

2의 영역 : 정수 배열 arr가 주어집니다. 배열 안의 2가 모두 포함된 가장 작은 연속된 부분 배열을 return 하는 solution 함수를 완성해 주세요.

단, arr에 2가 없는 경우 [-1]을 return 합니다.

In [34]:
arr = [1, 1, 1]

def solution(arr):
    if 2 not in arr : return [-1]
    else :
        l_idx = arr.index(2)
        r_idx = len(arr) - list(reversed(arr)).index(2)
        return arr[l_idx:r_idx]

solution(arr)

[-1]

In [27]:
list(reversed(arr)).index(2)

1

arr[::-1].index(2) 를 통해 뒤에서부터 index를 찾을 수도 있는 것 같다.

리스트 자르기 : 정수 n과 정수 3개가 담긴 리스트 slicer 그리고 정수 여러 개가 담긴 리스트 num_list가 주어집니다. slicer에 담긴 정수를 차례대로 a, b, c라고 할 때, n에 따라 다음과 같이 num_list를 슬라이싱 하려고 합니다.

n = 1 : num_list의 0번 인덱스부터 b번 인덱스까지
n = 2 : num_list의 a번 인덱스부터 마지막 인덱스까지
n = 3 : num_list의 a번 인덱스부터 b번 인덱스까지
n = 4 : num_list의 a번 인덱스부터 b번 인덱스까지 c 간격으로
올바르게 슬라이싱한 리스트를 return하도록 solution 함수를 완성해주세요.

In [38]:
n = 4
slicer = [1, 5, 2]
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

def solution(n, slicer, num_list):
    a,b,c = slicer[0], slicer[1], slicer[2]
    if n == 1:
        answer = num_list[:b+1]
    elif n == 2:
        answer = num_list[a:]
    elif n == 3:
        answer = num_list[a:b+1]
    else:
        answer = [x for i,x in enumerate(num_list[a:b+1]) if i % c == 0]
    return answer

solution(n, slicer, num_list)

[2, 4, 6]

수열과 구간 쿼리 4 : 정수 배열 arr와 2차원 정수 배열 queries이 주어집니다. queries의 원소는 각각 하나의 query를 나타내며, [s, e, k] 꼴입니다.

각 query마다 순서대로 s ≤ i ≤ e인 모든 i에 대해 i가 k의 배수이면 arr[i]에 1을 더합니다.

위 규칙에 따라 queries를 처리한 이후의 arr를 return 하는 solution 함수를 완성해 주세요.

In [42]:
arr = [0, 1, 2, 4, 3]
queries = [[0, 4, 1],[0, 3, 2],[0, 3, 3]]

def solution(arr, queries):
    for query in queries:
        for i in list(range(query[0],query[1]+1)):
            if i % query[2] == 0:
                arr[i] += 1
            
    return arr

solution(arr, queries)

[3, 2, 4, 6, 4]

세 개의 구분자 : 임의의 문자열이 주어졌을 때 문자 "a", "b", "c"를 구분자로 사용해 문자열을 나누고자 합니다.

예를 들어 주어진 문자열이 "baconlettucetomato"라면 나눠진 문자열 목록은 ["onlettu", "etom", "to"] 가 됩니다.

문자열 myStr이 주어졌을 때 위 예시와 같이 "a", "b", "c"를 사용해 나눠진 문자열을 순서대로 저장한 배열을 return 하는 solution 함수를 완성해 주세요.

단, 두 구분자 사이에 다른 문자가 없을 경우에는 아무것도 저장하지 않으며, return할 배열이 빈 배열이라면 ["EMPTY"]를 return 합니다.

In [56]:
myStr = "dbd"

def solution(myStr):
    if sorted(list(set(myStr))) == ['a','b','c'] : return ["EMPTY"]
    else : 
        answer = myStr.replace('a','1').replace('b','1').replace('c','1').split('1')
        return [x for x in answer if x != '']

solution(myStr)

['d', 'd']

In [48]:
myStr.split('a')

['b', 'conlettucetom', 'to']

In [54]:
sorted(list(set(myStr)))

['a', 'b', 'c', 'e', 'l', 'm', 'n', 'o', 't', 'u']

문자열에 x가 포함될 수 있다는 생각을 하지 못하고 replace를 x로 설정하였다. 이러한 조건들을 좀 더 조심히 살펴봐야 할 것 같다.

커피 심부름 : 팀의 막내인 철수는 아메리카노와 카페 라테만 판매하는 카페에서 팀원들의 커피를 사려고 합니다. 아메리카노와 카페 라테의 가격은 차가운 것과 뜨거운 것 상관없이 각각 4500, 5000원입니다. 각 팀원에게 마실 메뉴를 적어달라고 하였고, 그 중에서 메뉴만 적은 팀원의 것은 차가운 것으로 통일하고 "아무거나"를 적은 팀원의 것은 차가운 아메리카노로 통일하기로 하였습니다.

각 직원이 적은 메뉴가 문자열 배열 order로 주어질 때, 카페에서 결제하게 될 금액을 return 하는 solution 함수를 작성해주세요. order의 원소는 아래의 것들만 들어오고, 각각의 의미는 다음과 같습니다.

In [58]:
order = ["americanoice", "americano", "iceamericano"]

def solution(order):
    answer = 0
    for x in order:
        if "latte" in x :
            answer += 5000
        else :
            answer += 4500
    return answer

solution(order)

13500

문자열에서 latte가 들어간 항목만 5000이므로 위와 같이 코드를 짰다.

조건에 맞게 수열 변환하기 2 : 정수 배열 arr가 주어집니다. arr의 각 원소에 대해 값이 50보다 크거나 같은 짝수라면 2로 나누고, 50보다 작은 홀수라면 2를 곱하고 다시 1을 더합니다.

이러한 작업을 x번 반복한 결과인 배열을 arr(x)라고 표현했을 때, arr(x) = arr(x + 1)인 x가 항상 존재합니다. 이러한 x 중 가장 작은 값을 return 하는 solution 함수를 완성해 주세요.

단, 두 배열에 대한 "="는 두 배열의 크기가 서로 같으며, 같은 인덱스의 원소가 각각 서로 같음을 의미합니다.

In [ ]:
arr = [1, 2, 3, 100, 99, 98]

def solution(arr):
    answer = 0
    return answer

더이상 값이 변하지 않게 되기위한 조건을 잘 설정하는 것이 중요하다.
50보다 작은 홀수는 2가 곱해진후에 1이 더해지므로 다시 홀수가 된다. 이때 50보다 커지기 위한 횟수를 반환한다.
50보다 큰 홀수는 2가 나눠진다. 그렇기 때문에 100이 아닌이상 카운트는 1이 되며 100이라면 2가 된다.
각 요소들에 대한 연산횟수를 세주고, 그중 max를 반환하면 된다.

In [61]:
arr = [1, 2, 3, 100, 99, 98]


def solution(arr):
    answer = []
    for x in arr:
        count = 0
        while ((x < 50) and (x % 2 != 0)) or ((x >= 50) and (x % 2 == 0)):
            if ((x < 50) and (x % 2 != 0)):
                x = x * 2 + 1
                count += 1
            elif ((x >= 50) and (x % 2 == 0)):
                x = x / 2
                count += 1
            
        answer.append(count)
        
    return max(answer)

solution(arr)

5

qr code : 두 정수 q, r과 문자열 code가 주어질 때, code의 각 인덱스를 q로 나누었을 때 나머지가 r인 위치의 문자를 앞에서부터 순서대로 이어 붙인 문자열을 return 하는 solution 함수를 작성해 주세요.

In [64]:
q = 3
r = 1
code = "qjnwezgrpirldywt"

def solution(q, r, code):
    answer = ''.join([x for i,x in enumerate(code) if i % q == r])
    return answer

solution(q, r, code)

'jerry'

문자 개수 세기 : 알파벳 대소문자로만 이루어진 문자열 my_string이 주어질 때, my_string에서 'A'의 개수, my_string에서 'B'의 개수,..., my_string에서 'Z'의 개수, my_string에서 'a'의 개수, my_string에서 'b'의 개수,..., my_string에서 'z'의 개수를 순서대로 담은 길이 52의 정수 배열을 return 하는 solution 함수를 작성해 주세요.

In [67]:
my_string = "Programmers"

def solution(my_string):
    count = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
    answer = [my_string.count(x) for x in count]
    return answer

solution(my_string)

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 0,
 3,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

배열 만들기 4 : 정수 배열 arr가 주어집니다. arr를 이용해 새로운 배열 stk를 만드려고 합니다.

변수 i를 만들어 초기값을 0으로 설정한 후 i가 arr의 길이보다 작으면 다음 작업을 반복합니다.

만약 stk가 빈 배열이라면 arr[i]를 stk에 추가하고 i에 1을 더합니다.
stk에 원소가 있고, stk의 마지막 원소가 arr[i]보다 작으면 arr[i]를 stk의 뒤에 추가하고 i에 1을 더합니다.
stk에 원소가 있는데 stk의 마지막 원소가 arr[i]보다 크거나 같으면 stk의 마지막 원소를 stk에서 제거합니다.
위 작업을 마친 후 만들어진 stk를 return 하는 solution 함수를 완성해 주세요.

In [71]:
arr = [1, 4, 2, 5, 3]

def solution(arr):
    stk = []
    i = 0
    while i < len(arr):
        if len(stk) == 0:
            stk.append(arr[i])
            i += 1
        elif (len(arr) != 0) and (stk[-1] < arr[i]):
            stk.append(arr[i])
            i += 1
        elif (len(arr) != 0) and (stk[-1] >= arr[i]):
            stk.pop()
            
    return stk

solution(arr)

[1, 2, 3]

배열 만들기 6 : 0과 1로만 이루어진 정수 배열 arr가 주어집니다. arr를 이용해 새로운 배열 stk을 만드려고 합니다.

i의 초기값을 0으로 설정하고 i가 arr의 길이보다 작으면 다음을 반복합니다.

만약 stk이 빈 배열이라면 arr[i]를 stk에 추가하고 i에 1을 더합니다.
stk에 원소가 있고, stk의 마지막 원소가 arr[i]와 같으면 stk의 마지막 원소를 stk에서 제거하고 i에 1을 더합니다.
stk에 원소가 있는데 stk의 마지막 원소가 arr[i]와 다르면 stk의 맨 마지막에 arr[i]를 추가하고 i에 1을 더합니다.
위 작업을 마친 후 만들어진 stk을 return 하는 solution 함수를 완성해 주세요.

단, 만약 빈 배열을 return 해야한다면 [-1]을 return 합니다.

In [76]:
arr = [0, 1, 1, 0]

def solution(arr):
    stk = []
    i = 0
    while i < len(arr):
        if len(stk) == 0:
            stk.append(arr[i])
            i += 1
        elif (len(stk) != 0) and (stk[-1] == arr[i]) :
            stk.pop()
            i += 1
        elif (len(stk) != 0) and (stk[-1] != arr[i]) :
            stk.append(arr[i])
            i += 1
    return [-1] if len(stk) == 0 else stk 

solution(arr)

[-1]

왼쪽 오른쪽 : 문자열 리스트 str_list에는 "u", "d", "l", "r" 네 개의 문자열이 여러 개 저장되어 있습니다. str_list에서 "l"과 "r" 중 먼저 나오는 문자열이 "l"이라면 해당 문자열을 기준으로 왼쪽에 있는 문자열들을 순서대로 담은 리스트를, 먼저 나오는 문자열이 "r"이라면 해당 문자열을 기준으로 오른쪽에 있는 문자열들을 순서대로 담은 리스트를 return하도록 solution 함수를 완성해주세요. "l"이나 "r"이 없다면 빈 리스트를 return합니다.

In [79]:
str_list.index("u") str_list.index("l")

0

존재하지 않는 경우를 고려해서 코드를 짜야한다.
l만 존재하는경우, r만 존재하는 경우, 둘다 존재하지 않는 경우, 둘다 존재하는 경우를 모두 고려해야한다.

In [90]:
str_list = ["l"]

def solution(str_list):
    answer = []
    idx = min(str_list.index('l'), str_list.index('r'))
    
    if idx == -1: answer = []
    elif str_list[idx] == 'l':
        answer = str_list[:idx]
    else :
        answer = str_list[idx+1:]

    return answer
solution(str_list)

ValueError: 'r' is not in list

index()는 존재하지 않을 때 -1를 반환하지 않는다. find()를 사용해야 한다.

In [94]:
str_list = ["l"]

def solution(str_list):
    answer = []
    lidx = ''.join(str_list).find('l')
    ridx = ''.join(str_list).find('r')
    
    if lidx == ridx == -1 : answer = []
    elif (ridx == -1) and (lidx != -1):
        answer = str_list[:lidx]
    elif (ridx != -1) and (lidx == -1):
        answer = str_list[ridx+1:]
    else :
        idx = min(lidx,ridx)
        if str_list[idx] == 'r':
            answer = str_list[idx+1:]
        else :
            answer = str_list[:idx]

    return answer
solution(str_list)

[]

둘중 하나라도 -1이면 -1를 반환해 버리므로 다른 방법을 사용해야 한다. 둘다 -1이라면 -1이 되고 아니라면 둘중 하나만 -1이라면 인덱스는 0을 포함한 정수이기 때문에 -1를 반환해버린다. 그렇다면 min을 사용하는 것은 그렇게 좋은 방법이 아닌 듯 하다.

str_list[:idx] 를 반환하는 경우는 'r'이 존재하지 않거나 'r'이 존재하지만 'l'의 인덱스가 더 작은 경우
str_list[idx+1:] 를 반환하는 경우는 'l'이 존재하지 않거나 존재하지만 'r'의 인덱스가 더 작은 경우이다.
먼저 해당 인덱스들이 존재하는지 아닌지를 확인하고, 존재한다면 크기를 비교해야 하는데 경우의 수가 꽤나 복잡하다.

두 수의 합 : 0 이상의 두 정수가 문자열 a, b로 주어질 때, a + b의 값을 문자열로 return 하는 solution 함수를 작성해 주세요.

In [95]:
a = "582"
b = "734"

def solution(a, b):
    return int(a) + int(b)

solution(a,b)

1316

조건 문자열 : 문자열에 따라 다음과 같이 두 수의 크기를 비교하려고 합니다.

두 수가 n과 m이라면
">", "=" : n >= m
"<", "=" : n <= m
">", "!" : n > m
"<", "!" : n < m
두 문자열 ineq와 eq가 주어집니다. ineq는 "<"와 ">"중 하나고, eq는 "="와 "!"중 하나입니다. 그리고 두 정수 n과 m이 주어질 때, n과 m이 ineq와 eq의 조건에 맞으면 1을 아니면 0을 return하도록 solution 함수를 완성해주세요.

In [3]:
ineq = ">"
eq = "!"
n = 41
m = 78

def solution(ineq, eq, n, m):
    if eq == '=':
        answer = eval(''.join([str(n),ineq, eq, str(m)]))
    else : 
        answer = eval(''.join([str(n),ineq, str(m)]))
    return 1 if (answer == True) else 0

solution(ineq, eq, n, m)

0

문자열 여러 번 뒤집기 : 문자열 my_string과 이차원 정수 배열 queries가 매개변수로 주어집니다. queries의 원소는 [s, e] 형태로, my_string의 인덱스 s부터 인덱스 e까지를 뒤집으라는 의미입니다. my_string에 queries의 명령을 순서대로 처리한 후의 문자열을 return 하는 solution 함수를 작성해 주세요.

In [7]:
my_string = "rermgorpsam"
queries = [[2, 3], [0, 7], [5, 9], [6, 10]]

def solution(my_string, queries):
    for query in queries:
        my_string = my_string[:query[0]] + ''.join(list(reversed(my_string[query[0]:query[1]+1]))) + my_string[query[1]+1:]
    return my_string

solution(my_string, queries)

'programmers'

In [4]:
reversed([1,2,3])

수열과 구간 쿼리 2 : 정수 배열 arr와 2차원 정수 배열 queries이 주어집니다. queries의 원소는 각각 하나의 query를 나타내며, [s, e, k] 꼴입니다.

각 query마다 순서대로 s ≤ i ≤ e인 모든 i에 대해 k보다 크면서 가장 작은 arr[i]를 찾습니다.

각 쿼리의 순서에 맞게 답을 저장한 배열을 반환하는 solution 함수를 완성해 주세요.
단, 특정 쿼리의 답이 존재하지 않으면 -1을 저장합니다.

In [19]:
arr = [0, 1, 2, 4, 3]
queries = [[0, 4, 2],[0, 3, 2],[0, 2, 2]]

def solution(arr, queries):
    answer = []
    for i,query in enumerate(queries) :
        if max(arr[query[0]:query[1]+1]) <= query[2]:
            answer.append(-1)
        else :
            answer.append(min([x for x in arr[query[0]:query[1]+1] if x > query[2]]))

    return answer

solution(arr, queries)

[3, 4, -1]

In [11]:
min([1,2,3])

1

In [17]:
query = [0, 4, 2]
min([x for x in arr[query[0]:query[1]] if x >= query[2]])

2

무작위로 K개의 수 뽑기 : 랜덤으로 서로 다른 k개의 수를 저장한 배열을 만드려고 합니다. 적절한 방법이 떠오르지 않기 때문에 일정한 범위 내에서 무작위로 수를 뽑은 후, 지금까지 나온적이 없는 수이면 배열 맨 뒤에 추가하는 방식으로 만들기로 합니다.

이미 어떤 수가 무작위로 주어질지 알고 있다고 가정하고, 실제 만들어질 길이 k의 배열을 예상해봅시다.

정수 배열 arr가 주어집니다. 문제에서의 무작위의 수는 arr에 저장된 순서대로 주어질 예정이라고 했을 때, 완성될 배열을 return 하는 solution 함수를 완성해 주세요.

단, 완성될 배열의 길이가 k보다 작으면 나머지 값을 전부 -1로 채워서 return 합니다.

In [24]:
arr = [0, 1, 1, 1, 1]
k = 4

solution(arr)
solution(arr, k)

[0, 1, -1, -1]

정사각형으로 만들기 : 이차원 정수 배열 arr이 매개변수로 주어집니다. arr의 행의 수가 더 많다면 열의 수가 행의 수와 같아지도록 각 행의 끝에 0을 추가하고, 열의 수가 더 많다면 행의 수가 열의 수와 같아지도록 각 열의 끝에 0을 추가한 이차원 배열을 return 하는 solution 함수를 작성해 주세요.

In [27]:
arr = [[572, 22, 37], [287, 726, 384], [85, 137, 292], [487, 13, 876]]

def solution(arr):
    diff = len(arr) - len(arr[0])
    if diff == 0 : answer = arr
    elif diff < 0 :
        answer = arr + [[0] * len(arr[0])] * abs(diff)
    else :
        answer = [x + ([0] * diff) for x in arr]
        
    return answer
            
solution(arr)

[[572, 22, 37, 0], [287, 726, 384, 0], [85, 137, 292, 0], [487, 13, 876, 0]]

그림 확대 : 직사각형 형태의 그림 파일이 있고, 이 그림 파일은 1 × 1 크기의 정사각형 크기의 픽셀로 이루어져 있습니다. 이 그림 파일을 나타낸 문자열 배열 picture과 정수 k가 매개변수로 주어질 때, 이 그림 파일을 가로 세로로 k배 늘린 그림 파일을 나타내도록 문자열 배열을 return 하는 solution 함수를 작성해 주세요.

In [29]:
picture = [".xx...xx.", "x..x.x..x", "x...x...x", ".x.....x.", "..x...x..", "...x.x...", "....x...."]
k = 2

def solution(picture, k):
    answer = []
    for x in picture:
        answer += [''.join([i*k for i in x])] * k
    return answer

solution(picture, k)

['..xxxx......xxxx..',
 '..xxxx......xxxx..',
 'xx....xx..xx....xx',
 'xx....xx..xx....xx',
 'xx......xx......xx',
 'xx......xx......xx',
 '..xx..........xx..',
 '..xx..........xx..',
 '....xx......xx....',
 '....xx......xx....',
 '......xx..xx......',
 '......xx..xx......',
 '........xx........',
 '........xx........']

전국 대회 선발 고사 : 0번부터 n - 1번까지 n명의 학생 중 3명을 선발하는 전국 대회 선발 고사를 보았습니다. 등수가 높은 3명을 선발해야 하지만, 개인 사정으로 전국 대회에 참여하지 못하는 학생들이 있어 참여가 가능한 학생 중 등수가 높은 3명을 선발하기로 했습니다.

각 학생들의 선발 고사 등수를 담은 정수 배열 rank와 전국 대회 참여 가능 여부가 담긴 boolean 배열 attendance가 매개변수로 주어집니다. 전국 대회에 선발된 학생 번호들을 등수가 높은 순서대로 각각 a, b, c번이라고 할 때 10000 × a + 100 × b + c를 return 하는 solution 함수를 작성해 주세요.

In [34]:
rank = [3, 7, 2, 5, 4, 6, 1]
attendance = [False, True, True, True, True, False, False]

def solution(rank, attendance):
    attrank = sorted([x for i,x in enumerate(rank) if attendance[i] == True])
    return 10000 * rank.index(attrank[0]) + 100 * rank.index(attrank[1]) + rank.index(attrank[2])

solution(rank, attendance)

20403

In [32]:
sorted([1,5,3])

[1, 3, 5]

배열 만들기 2 : 정수 l과 r이 주어졌을 때, l 이상 r이하의 정수 중에서 숫자 "0"과 "5"로만 이루어진 모든 정수를 오름차순으로 저장한 배열을 return 하는 solution 함수를 완성해 주세요.

만약 그러한 정수가 없다면, -1이 담긴 배열을 return 합니다.

In [45]:
l = 5
r = 555

def solution(l, r):
    answer = [x for x in list(range(l,r+1)) if sorted(list(set(list(str(x))))) in [['0'], ['5'],['0','5']]]
    return [-1] if answer == [] else answer

solution(l, r)

[5, 50, 55, 500, 505, 550, 555]

배열 조각하기 : 정수 배열 arr와 query가 주어집니다.

query를 순회하면서 다음 작업을 반복합니다.

짝수 인덱스에서는 arr에서 query[i]번 인덱스를 제외하고 배열의 query[i]번 인덱스 뒷부분을 잘라서 버립니다.
홀수 인덱스에서는 arr에서 query[i]번 인덱스는 제외하고 배열의 query[i]번 인덱스 앞부분을 잘라서 버립니다.
위 작업을 마친 후 남은 arr의 부분 배열을 return 하는 solution 함수를 완성해 주세요.

In [49]:
arr = [0, 1, 2, 3, 4, 5]
query = [4, 1, 2]

def solution(arr, query):
    for i,x in enumerate(query):
        if i % 2 == 0:
            arr = arr[:x+1]
        else :
            arr = arr[x:]

    return arr

solution(arr, query)

[1, 2, 3]

주사위 게임 3 : 1부터 6까지 숫자가 적힌 주사위가 네 개 있습니다. 네 주사위를 굴렸을 때 나온 숫자에 따라 다음과 같은 점수를 얻습니다.

네 주사위에서 나온 숫자가 모두 p로 같다면 1111 × p점을 얻습니다.
세 주사위에서 나온 숫자가 p로 같고 나머지 다른 주사위에서 나온 숫자가 q(p ≠ q)라면 (10 × p + q)2 점을 얻습니다.
주사위가 두 개씩 같은 값이 나오고, 나온 숫자를 각각 p, q(p ≠ q)라고 한다면 (p + q) × |p - q|점을 얻습니다.
어느 두 주사위에서 나온 숫자가 p로 같고 나머지 두 주사위에서 나온 숫자가 각각 p와 다른 q, r(q ≠ r)이라면 q × r점을 얻습니다.
네 주사위에 적힌 숫자가 모두 다르다면 나온 숫자 중 가장 작은 숫자 만큼의 점수를 얻습니다.
네 주사위를 굴렸을 때 나온 숫자가 정수 매개변수 a, b, c, d로 주어질 때, 얻는 점수를 return 하는 solution 함수를 작성해 주세요.

In [63]:
a = 6
b = 4
c = 2
d = 5

def solution(a, b, c, d):
    num = [1,2,3,4,5,6]
    count = [0,0,0,0,0,0]
    for x in [a,b,c,d]:
        count[x-1] += 1
        
    if max(count) == 4:
        answer = num[count.index(4)] * 1111
    elif max(count) == 3:
        answer = pow((num[count.index(3)] * 10) + num[count.index(1)],2)
    elif count.count(2) == 2:
        answer = (num[count.index(2)] + num[5 - count[::-1].index(2)]) * abs(num[count.index(2)] - num[5 - count[::-1].index(2)])
    elif count.count(1) == 4:
        answer = num[count.index(1)]
    else:
        answer = num[5 - count[::-1].index(1)] * num[count.index(1)]
        
    return answer

solution(a, b, c, d)

2

조건이 매우 까다롭다. 모두 같은 경우, 셋이 같은 경우, 둘둘 같은 경우, 둘 같고 나머지가 다른 경우, 모두 다른경우 로 나누어서 생각해야 할 것 같다.
[1,2,3,4,5,6] 에 해당하는 주사위 갯수를 세는 리스트 count를 만든다면 어떨까
[0,0,1,1,2,0]과 같은 형태라면. index(4)로 모두 같은 경우 해결
index(3)과 index(1)을 통해 가능.
22는

코드 처리하기 : 문자열 code가 주어집니다.
code를 앞에서부터 읽으면서 만약 문자가 "1"이면 mode를 바꿉니다. mode에 따라 code를 읽어가면서 문자열 ret을 만들어냅니다.

mode는 0과 1이 있으며, idx를 0 부터 code의 길이 - 1 까지 1씩 키워나가면서 code[idx]의 값에 따라 다음과 같이 행동합니다.

mode가 0일 때
code[idx]가 "1"이 아니면 idx가 짝수일 때만 ret의 맨 뒤에 code[idx]를 추가합니다.
code[idx]가 "1"이면 mode를 0에서 1로 바꿉니다.
mode가 1일 때
code[idx]가 "1"이 아니면 idx가 홀수일 때만 ret의 맨 뒤에 code[idx]를 추가합니다.
code[idx]가 "1"이면 mode를 1에서 0으로 바꿉니다.
문자열 code를 통해 만들어진 문자열 ret를 return 하는 solution 함수를 완성해 주세요.

단, 시작할 때 mode는 0이며, return 하려는 ret가 만약 빈 문자열이라면 대신 "EMPTY"를 return 합니다.

In [69]:
code = "abc1abc1abc"

def solution(code):
    mode = 0
    answer = ''
    for i, x in enumerate(code):
        if x == '1' and mode == 0:
            mode = 1
        elif x == '1' and mode == 1:
            mode = 0
        elif (x != 1) and (mode == 0) and (i % 2 == 0):
            answer += x
        elif (x != 1) and (mode == 1) and (i % 2 != 0):
            answer += x
            
    return "EMPTY" if answer == '' else answer

solution(code)

'acbac'

현대 인덱스에 해당하는 값과 모드를 계속 받아야 한다.

정수를 나선형으로 배치하기 : 양의 정수 n이 매개변수로 주어집니다. n × n 배열에 1부터 n2 까지 정수를 인덱스 [0][0]부터 시계방향 나선형으로 배치한 이차원 배열을 return 하는 solution 함수를 작성해 주세요.

In [68]:
n = 4

def solution(n):
    answer = [[0] * n for i in range(n)] 
    answer[0] = [list(range(1,n+1))]
    count = n+1
    i = 1
    j = n-1
    try  :
        while count <= pow(n,2):
            if (answer[i+1][j] == 0) and (((j == n-1) and (i != n-1)) or ((answer[i-1][j] != 0) and (answer[i][j+1] != 0))):
                answer[i][j] = count
                i += 1
                count += 1
            elif (answer[i][j-1] == 0) and (((i == n-1)and(j != 0)) or (i == n-1 and j == n-1) or ((answer[i][j+1] != 0) and (answer[i+1][j] != 0))): 
                answer[i][j] = count
                j -= 1
                count += 1
            elif (answer[i-1][j] == 0) and (((j == 0)and(i != 1)) or (i == n-1 and j == 0) or ((answer[i][j-1] != 0) and (answer[i+1][j] != 0))): 
                answer[i][j] = count
                i -= 1
                count += 1
            elif (answer[i][j+1] == 0) and ((answer[i][j-1] != 0) and (answer[i-1][j] != 0)): 
                answer[i][j] = count
                j += 1
                count += 1
    except IndexError: pass
        
    return answer

solution(n)

[[[1, 2, 3, 4]], [0, 0, 0, 5], [0, 0, 0, 6], [0, 0, 0, 0]]

꺾이는 부분을 알면 조금 더 쉬울 것 같다. 규칙성을 먼저 확인 해보자
(n = 1)
1

(n = 2)
1 2
4 3

(n = 3)
1 2 3 
8 9 4
7 6 5

(n = 4)
1  2  3  4
12 13 14 5
11 16 15 6
10 9  8  7 

(n = 5)
1  2  3  4  5
16 17 18 19 6
15 24 25 20 7
14 23 22 21 8
13 12 11 10 9


n
1 2 3 ... n
4n-4      n+1
          
          
          
3n-2      2n-1

오n -> 아래n-1 -> 왼n-1 -> 위n-2 -> 오n-2-> 아래 n-3 -> 왼 n-3 -> 위 n-4 -> 오 n-4 while n or 숫자가 n^2 번 만큼 이동 했을때.

오른쪽으로 이동하는 경우 -> 1,2,3,4 (5를 제외한 y가 첫번째 인덱스, 아래는 값이 없다)16, 17, 18(위에 값이 존재. 16은 아래값이 존재.), 24
왼쪽으로 이동하는 경우 -> 9, 10, 11, 12, 21, 22

아래로 이동하는 경우 5, 6, 7, 8, 19, 20
위로 이동하는 경우 13, 14, 15, 23,

방향이 바뀌는 순서가 오 아래 왼 위 이므로 이 순서대로 바꾼다.
dx = [1,0,-1,0]
dy = [0,1,0,-1]로 설정 해놓고,
인덱스를 0,1,2,3, 그리고 다시 0으로 바꾸는 식으로 변화를 주면 된다.

마지막 인덱스거나 이미 값이 있으면 방향 바꾸기.

In [ ]:
n = 2

def solution(n):
    answer = [[0 for _ in range(n)] for _ in range(n)]

    dir = 'r'
    x = 0
    y = 0
    num = 0

    try :
        for i in range(pow(n, 2) - 1):
            num += 1
            answer[y][x] = num

            if dir == 'r' :
                if x == n or answer[y][x+1] == 0 :
                    x += 1
                else :
                    dir = 'd'
                    y += 1

            elif dir == 'd' :
                if y == n or answer[y+1][x] == 0 :
                    y += 1
                else :
                    dir = 'l'
                    x -= 1




    except IndexError: pass


    return answer


print(solution(n))